Repository feast-dev/feast, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zhilingc, @pradithya, @woop, @tims, @thirteen37, @davidheryanto

Removed references to granularity from the docs
  docs/endusers.md
  docs/specs.md
  examples/wordCountFeature.yml
Owners: @zhilingc, @pradithya, @woop, @tims, @thirteen37, @davidheryanto

Removed references to granularity from the docs
  docs/concepts.md
  protos/feast/serving/Serving.proto
  protos/generated/go/feast/serving/Serving.pb.go
  rfcs/0001-python-sdk.md
Owners: @zhilingc, @pradithya, @woop, @tims, @thirteen37, @davidheryanto

Added info on how to register features and run an import job from CLI; other fixes in the docs;
  charts/README.md
  docs/endusers.md
  docs/specs.md
Owners: @zhilingc, @pradithya, @woop, @tims, @thirteen37, @davidheryanto

fix typos
  docs/endusers.md
Owners: @zhilingc, @pradithya, @woop, @tims, @thirteen37, @davidheryanto

Update library version to fix security vulnerabilities in dependencies
  core/pom.xml
  pom.xml
  ui/package-lock.json
  ui/package.json
  ui/src/components/Feature/SearchTable.vue
  ui/src/views/Feature/Details.vue
  ui/vue.config.js
  ui/yarn.lock
Owners: @zhilingc, @pradithya, @tims, @woop, @thirteen37, @davidheryanto

- WIP on python SDK quickstart documentation
  docs/endusers.md
  sdk/python/README.md
Owners: @zhilingc, @pradithya, @woop, @tims, @thirteen37, @davidheryanto

- add training/serving data retrieval sections
  sdk/python/README.md
Owners: @zhilingc, @pradithya, @woop, @tims, @thirteen37, @davidheryanto

Update library version to fix security vulnerabilities in dependencies (#198)
  core/pom.xml
  pom.xml
  ui/package-lock.json
  ui/package.json
  ui/src/components/Feature/SearchTable.vue
  ui/src/views/Feature/Details.vue
  ui/vue.config.js
  ui/yarn.lock
Owners: @zhilingc, @pradithya, @tims, @woop, @thirteen37, @davidheryanto

- setting core/serving tags in helm to latest release version
  charts/feast/values.yaml
Owners: @zhilingc, @pradithya, @woop, @tims, @thirteen37, @davidheryanto

- removed storage options from feature declaration specs
  docs/endusers.md
  docs/specs.md
  examples/wordCountFeature.yml
Owners: @zhilingc, @pradithya, @woop, @tims, @thirteen37, @davidheryanto

Use full prow build id as dataset name In case the name clashes with previously undeleted dataset
  .prow/config.yaml
Owners: @zhilingc, @pradithya, @woop, @tims, @thirteen37, @davidheryanto

Update doc for CLI
  cli/README.md
Owners: @zhilingc, @pradithya

Typo
  cli/README.md
Owners: @zhilingc, @pradithya

Update default values.yaml for Feast
  charts/feast/values.yaml
Owners: @zhilingc, @pradithya, @woop, @tims, @thirteen37, @davidheryanto

Use full prow build id as dataset name (#200)
  .prow/config.yaml
Owners: @zhilingc, @pradithya, @woop, @tims, @thirteen37, @davidheryanto

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# https://help.github.com/en/articles/about-code-owners

*           @zhilingc @pradithya @woop @tims @thirteen37 @davidheryanto
/core/      @zhilingc @pradithya @tims
/ingestion/ @zhilingc @pradithya @tims
/serving/   @zhilingc @pradithya @tims
/cli/       @zhilingc @pradithya
