Repository feast-dev/feast, pull requests merged in 2024-06, with the labels that each got.

#4248 fix: Feast UI importlib change
  sdk/python/feast/ui_server.py
Labels: ok-to-test

#4255 fix: Feature server no_feature_log argument error
  sdk/python/feast/cli.py
Labels: ok-to-test

#4244 feat: Add online_read_async for dynamodb
  sdk/python/feast/infra/online_stores/dynamodb.py
  sdk/python/requirements/py3.10-ci-requirements.txt
  sdk/python/requirements/py3.10-requirements.txt
  sdk/python/requirements/py3.11-ci-requirements.txt
  sdk/python/requirements/py3.11-requirements.txt
  sdk/python/requirements/py3.9-ci-requirements.txt
  sdk/python/requirements/py3.9-requirements.txt
  sdk/python/tests/integration/feature_repos/repo_configuration.py
  sdk/python/tests/integration/online_store/test_universal_online.py
  setup.py
Labels: ok-to-test

#4250 fix: Feature UI Server image won't start in an OpenShift cluster
  sdk/python/feast/infra/feature_servers/multicloud/Dockerfile
  sdk/python/feast/infra/feature_servers/multicloud/Dockerfile.dev
Labels: ok-to-test

#4176 feat: Adding vector search for sqlite
  docs/reference/alpha-vector-database.md
  infra/scripts/pixi/pixi.lock
  infra/scripts/pixi/pixi.toml
  sdk/python/feast/feature_store.py
  sdk/python/feast/infra/online_stores/sqlite.py
  sdk/python/requirements/py3.10-ci-requirements.txt
  sdk/python/requirements/py3.10-requirements.txt
  sdk/python/requirements/py3.11-ci-requirements.txt
  sdk/python/requirements/py3.11-requirements.txt
  sdk/python/requirements/py3.9-ci-requirements.txt
  sdk/python/requirements/py3.9-requirements.txt
  sdk/python/tests/example_repos/example_feature_repo_1.py
  sdk/python/tests/integration/registration/test_universal_cli.py
  sdk/python/tests/unit/online_store/test_online_retrieval.py
  setup.py
Labels: ok-to-test

#4273 chore: Remove lambda feature server image from ci
  .github/fork_workflows/fork_pr_integration_tests_aws.yml
  .github/workflows/build_wheels.yml
  .github/workflows/master_only.yml
  .github/workflows/nightly-ci.yml
  .github/workflows/pr_integration_tests.yml
  .github/workflows/publish.yml
Labels: ok-to-test

#4243 docs: Add limitation infomation to the document of Snowflak offline st…
  docs/reference/offline-stores/snowflake.md
Labels: area/documentation, ok-to-test

#4274 fix: Handles null values in data during GO Feature retrieval
  go/types/typeconversion.go
  go/types/typeconversion_test.go
  sdk/python/feast/type_map.py
  sdk/python/tests/unit/test_type_map.py
Labels: ok-to-test

#4267 chore: Update gitpod.yaml with uv
  .gitpod.Dockerfile
  .gitpod.yml
  .pre-commit-config.yaml
  Makefile
  sdk/python/feast/infra/offline_stores/contrib/athena_offline_store/tests/data_source.py
  sdk/python/feast/infra/offline_stores/contrib/mssql_offline_store/tests/data_source.py
  sdk/python/feast/infra/offline_stores/contrib/postgres_offline_store/tests/data_source.py
  sdk/python/feast/infra/offline_stores/contrib/spark_offline_store/tests/data_source.py
  sdk/python/feast/infra/offline_stores/contrib/trino_offline_store/tests/data_source.py
  sdk/python/tests/integration/feature_repos/repo_configuration.py
  sdk/python/tests/integration/feature_repos/universal/data_source_creator.py
  sdk/python/tests/integration/feature_repos/universal/data_sources/redshift.py
  sdk/python/tests/integration/feature_repos/universal/data_sources/snowflake.py
  sdk/python/tests/integration/feature_repos/universal/feature_views.py
  sdk/python/tests/integration/feature_repos/universal/online_store/elasticsearch.py
  sdk/python/tests/integration/feature_repos/universal/online_store/postgres.py
  sdk/python/tests/integration/feature_repos/universal/online_store_creator.py
Labels: ok-to-test

#4226 feat: Feature/adding remote online store
  docs/SUMMARY.md
  docs/reference/online-stores/README.md
  docs/reference/online-stores/remote.md
  sdk/python/feast/infra/online_stores/remote.py
  sdk/python/feast/repo_config.py
  sdk/python/tests/conftest.py
  sdk/python/tests/integration/feature_repos/repo_configuration.py
  sdk/python/tests/integration/online_store/test_remote_online_store.py
  sdk/python/tests/unit/online_store/__init__.py
Labels: ok-to-test

#4266 docs: Adding language recommendation
  docs/getting-started/architecture-and-components/README.md
  docs/getting-started/architecture-and-components/language.md
  docs/getting-started/architecture-and-components/overview.md
  docs/getting-started/faq.md
Labels: ok-to-test

#4286 chore: Rebuild sphinx docs
  sdk/python/docs/source/feast.embedded_go.rst
  sdk/python/docs/source/feast.infra.contrib.rst
  sdk/python/docs/source/feast.infra.feature_servers.aws_lambda.rst
  sdk/python/docs/source/feast.infra.feature_servers.gcp_cloudrun.rst
  sdk/python/docs/source/feast.infra.feature_servers.local_process.rst
  sdk/python/docs/source/feast.infra.feature_servers.multicloud.rst
  sdk/python/docs/source/feast.infra.feature_servers.rst
  sdk/python/docs/source/feast.infra.materialization.contrib.rst
  sdk/python/docs/source/feast.infra.materialization.kubernetes.rst
  sdk/python/docs/source/feast.infra.materialization.rst
  sdk/python/docs/source/feast.infra.offline_stores.rst
  sdk/python/docs/source/feast.infra.online_stores.contrib.ikv_online_store.rst
  sdk/python/docs/source/feast.infra.online_stores.contrib.rst
  sdk/python/docs/source/feast.infra.online_stores.rst
  sdk/python/docs/source/feast.infra.registry.contrib.azure.rst
  sdk/python/docs/source/feast.infra.registry.contrib.rst
  sdk/python/docs/source/feast.infra.registry.rst
  sdk/python/docs/source/feast.infra.rst
  sdk/python/docs/source/feast.infra.utils.rst
  sdk/python/docs/source/feast.infra.utils.snowflake.registry.rst
  sdk/python/docs/source/feast.infra.utils.snowflake.rst
  sdk/python/docs/source/feast.infra.utils.snowflake.snowpark.rst
  sdk/python/docs/source/feast.protos.feast.core.rst
  sdk/python/docs/source/feast.protos.feast.registry.rst
  sdk/python/docs/source/feast.protos.feast.rst
  sdk/python/docs/source/feast.protos.feast.serving.rst
  sdk/python/docs/source/feast.rst
  sdk/python/docs/source/feast.transformation.rst
  sdk/python/requirements/py3.10-ci-requirements.txt
  sdk/python/requirements/py3.10-requirements.txt
  sdk/python/requirements/py3.11-ci-requirements.txt
  sdk/python/requirements/py3.11-requirements.txt
  sdk/python/requirements/py3.9-ci-requirements.txt
  sdk/python/requirements/py3.9-requirements.txt
Labels: ok-to-test

#4281 chore: Removing warning from feature server
  sdk/python/feast/feature_server.py
Labels: ok-to-test

#4278 feat: Change get_online_features signature, move online retrieval functions to utils
  sdk/python/feast/feature_server.py
  sdk/python/feast/feature_store.py
  sdk/python/feast/infra/contrib/grpc_server.py
  sdk/python/feast/utils.py
  sdk/python/tests/unit/test_feature_validation.py
  sdk/python/tests/unit/test_unit_feature_store.py
Labels: ok-to-test

#4246 feat: Add the ability to list objects by `tags`
  docs/reference/feast-cli-commands.md
  protos/feast/registry/RegistryServer.proto
  sdk/python/feast/cli.py
  sdk/python/feast/feature_store.py
  sdk/python/feast/infra/registry/base_registry.py
  sdk/python/feast/infra/registry/caching_registry.py
  sdk/python/feast/infra/registry/proto_registry_utils.py
  sdk/python/feast/infra/registry/registry.py
  sdk/python/feast/infra/registry/remote.py
  sdk/python/feast/infra/registry/snowflake.py
  sdk/python/feast/infra/registry/sql.py
  sdk/python/feast/registry_server.py
  sdk/python/feast/utils.py
  sdk/python/tests/example_repos/example_feature_repo_1.py
  sdk/python/tests/example_repos/example_feature_repo_with_feature_service_2.py
  sdk/python/tests/integration/feature_repos/universal/feature_views.py
  sdk/python/tests/integration/online_store/test_universal_online.py
  sdk/python/tests/integration/registration/test_universal_registry.py
  sdk/python/tests/unit/local_feast_tests/test_feature_service.py
  sdk/python/tests/unit/local_feast_tests/test_local_feature_store.py
  sdk/python/tests/unit/online_store/test_online_retrieval.py
Labels: ok-to-test

#4284 feat: Entity key deserialization
  sdk/python/feast/infra/key_encoding_utils.py
  sdk/python/feast/repo_config.py
  sdk/python/tests/unit/infra/test_key_encoding_utils.py
Labels: ok-to-test

#4276 feat: Ignore paths feast apply
  sdk/python/feast/repo_operations.py
  sdk/python/tests/unit/infra/scaffolding/test_repo_operations.py
Labels: approved, ok-to-test

#4257 fix: Update Feast object metadata in the registry
  sdk/python/feast/feature_view.py
  sdk/python/feast/infra/registry/base_registry.py
  sdk/python/feast/infra/registry/registry.py
  sdk/python/feast/infra/registry/remote.py
  sdk/python/feast/infra/registry/sql.py
  sdk/python/feast/registry_server.py
  sdk/python/tests/integration/registration/test_universal_registry.py
  sdk/python/tests/unit/local_feast_tests/test_local_feature_store.py
  sdk/python/tests/unit/test_feature_views.py
  sdk/python/tests/unit/test_stream_feature_view.py
  sdk/python/tests/utils/e2e_test_validation.py
Labels: ok-to-test

#4296 fix: Minor typo in the unit test.
  sdk/python/tests/unit/local_feast_tests/test_local_feature_store.py
Labels: ok-to-test

#4289 refactor: Add parameters validation to OfflineServer
  sdk/python/feast/offline_server.py
Labels: ok-to-test

#4306 fix: Deprecated the datetime.utcfromtimestamp().
  sdk/python/feast/infra/registry/snowflake.py
  sdk/python/feast/infra/registry/sql.py
Labels: ok-to-test

#4298 chore: Remove existing providers from the repo
  sdk/python/feast/errors.py
  sdk/python/feast/infra/aws.py
  sdk/python/feast/infra/contrib/azure_provider.py
  sdk/python/feast/infra/gcp.py
  sdk/python/feast/infra/local.py
  sdk/python/feast/infra/passthrough_provider.py
  sdk/python/feast/infra/provider.py
  sdk/python/feast/repo_config.py
  sdk/python/tests/unit/infra/offline_stores/test_offline_store.py
  sdk/python/tests/unit/infra/scaffolding/test_repo_config.py
Labels: ok-to-test

#4285 feat: Add SingleStore as an OnlineStore
  Makefile
  docs/SUMMARY.md
  docs/reference/online-stores/README.md
  docs/reference/online-stores/singlestore.md
  sdk/python/docs/source/feast.infra.online_stores.contrib.rst
  sdk/python/docs/source/feast.infra.registry.contrib.postgres.rst
  sdk/python/docs/source/feast.infra.registry.contrib.rst
  sdk/python/feast/infra/online_stores/contrib/singlestore_online_store/singlestore.py
  sdk/python/feast/infra/online_stores/contrib/singlestore_repo_configuration.py
  sdk/python/feast/repo_config.py
  sdk/python/requirements/py3.10-ci-requirements.txt
  sdk/python/requirements/py3.11-ci-requirements.txt
  sdk/python/requirements/py3.9-ci-requirements.txt
  sdk/python/tests/integration/feature_repos/universal/online_store/singlestore.py
  setup.py
Labels: ok-to-test

#4291 fix: CGO Memory leak issue in GO Feature server
  go/internal/feast/server/http_server.go
  go/internal/feast/transformation/transformation.go
Labels: ok-to-test
