Repository feast-dev/feast, changes with the owners that CODEOWNERS names for each.
All owners: @feast-dev/maintainers, @sfc-gh-madkins, @DvirDukhan, @whoahbot, @sudohainguyen, @toping4445, @kevjumba, @niklasvm, @hemidactylus, @achals

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# Core Interfaces
/sdk/python/feast/infra/offline_stores/offline_store.py @feast-dev/maintainers @sfc-gh-madkins
/sdk/python/feast/infra/online_stores/online_store.py @feast-dev/maintainers @DvirDukhan
/sdk/python/feast/infra/materialization_engine/batch_materialization_engine.py @feast-dev/maintainers @whoahbot @sfc-gh-madkins

# ==== Offline Stores ====
# Core utils
/sdk/python/feast/infra/offline_stores/offline_utils.py @feast-dev/maintainers @sfc-gh-madkins

# Offline interfaces
/sdk/python/feast/infra/offline_stores/offline_store.py @feast-dev/maintainers

# BigQuery
/sdk/python/feast/infra/offline_stores/bigquery.py @sudohainguyen
/sdk/python/feast/infra/offline_stores/bigquery_source.py @sudohainguyen
/sdk/python/tests/integration/feature_repos/universal/data_sources/bigquery.py @sudohainguyen

# Snowflake
/sdk/python/feast/infra/offline_stores/snowflake* @sfc-gh-madkins

# Athena (contrib)
/sdk/python/feast/infra/offline_stores/contrib/athena_offline_store/ @toping4445

# Azure SQL (contrib)
/sdk/python/feast/infra/offline_stores/contrib/mssql_offline_store/ @kevjumba

# Spark (contrib)
/sdk/python/feast/infra/offline_stores/contrib/spark_offline_store/ @niklasvm @kevjumba

# ==== Online Stores ====

# HBase
/sdk/python/feast/infra/online_stores/hbase.py @sudohainguyen
/sdk/python/feast/infra/online_stores/contrib/hbase_online_store     @sudohainguyen

# Redis
/sdk/python/feast/infra/online_stores/redis.py @DvirDukhan
/java/feast/serving/connectors/redis/ @DvirDukhan

# Snowflake
/sdk/python/feast/infra/online_stores/snowflake.py @sfc-gh-madkins

# Cassandra (contrib)
/sdk/python/feast/infra/online_stores/cassandra_online_store/ @hemidactylus

# ==== Batch Materialization Engines ====

# Snowflake
/sdk/python/feast/infra/materialization/snowflake* @sfc-gh-madkins

# Bytewax
/sdk/python/feast/infra/materialization/contrib/bytewax/ @whoahbot

# AWS Lambda
/sdk/python/feast/infra/materialization/contrib/aws_lambda/ @achals

fix: downgrade the version of moto to moto<5.
  sdk/python/requirements/py3.10-ci-requirements.txt
  sdk/python/requirements/py3.8-ci-requirements.txt
  sdk/python/requirements/py3.9-ci-requirements.txt
Owners: none

feat: Added delete_table to redis online store
  sdk/python/feast/infra/online_stores/redis.py
Owners: @DvirDukhan

fix: Fix hdel params to *args
  sdk/python/feast/infra/online_stores/redis.py
Owners: @DvirDukhan

fix: get container host addresses from testcontainers
  sdk/python/tests/integration/feature_repos/universal/online_store/redis.py
  sdk/python/tests/unit/test_sql_registry.py
Owners: none

allowing follow-imports + fixing on_demand_feature_view.py
  Makefile
  sdk/python/feast/on_demand_feature_view.py
Owners: none

creating base type `SnowflakeStoreConfig` to fix circular imports
  sdk/python/feast/infra/offline_stores/snowflake.py
  sdk/python/feast/infra/online_stores/snowflake.py
  sdk/python/feast/infra/utils/snowflake/snowflake_utils.py
  sdk/python/feast/on_demand_feature_view.py
Owners: @sfc-gh-madkins

lint fixes in configuration
  sdk/python/tests/integration/feature_repos/repo_configuration.py
Owners: none

lint fix on base function `create_online_store`
  sdk/python/feast/infra/offline_stores/contrib/mssql_offline_store/mssql.py
  sdk/python/feast/infra/offline_stores/contrib/mssql_offline_store/tests/data_source.py
  sdk/python/tests/integration/feature_repos/universal/online_store/cassandra.py
  sdk/python/tests/integration/feature_repos/universal/online_store/hazelcast.py
  sdk/python/tests/integration/feature_repos/universal/online_store/hbase.py
  sdk/python/tests/integration/feature_repos/universal/online_store/mysql.py
  sdk/python/tests/integration/feature_repos/universal/online_store/redis.py
Owners: @kevjumba

converting create_data_source to take in arbitrary arguments
  sdk/python/feast/infra/offline_stores/contrib/athena_offline_store/tests/data_source.py
  sdk/python/feast/infra/offline_stores/contrib/mssql_offline_store/tests/data_source.py
  sdk/python/feast/infra/offline_stores/contrib/postgres_offline_store/tests/data_source.py
  sdk/python/feast/infra/offline_stores/contrib/spark_offline_store/tests/data_source.py
  sdk/python/feast/infra/offline_stores/contrib/trino_offline_store/tests/data_source.py
  sdk/python/tests/integration/feature_repos/universal/data_source_creator.py
  sdk/python/tests/integration/feature_repos/universal/data_sources/bigquery.py
  sdk/python/tests/integration/feature_repos/universal/data_sources/file.py
  sdk/python/tests/integration/feature_repos/universal/data_sources/redshift.py
  sdk/python/tests/integration/feature_repos/universal/data_sources/snowflake.py
  sdk/python/tests/integration/feature_repos/universal/online_store/bigtable.py
  sdk/python/tests/integration/feature_repos/universal/online_store/datastore.py
  sdk/python/tests/integration/feature_repos/universal/online_store/dynamodb.py
Owners: @toping4445, @kevjumba, @niklasvm, @sudohainguyen

lint fix on ingest_stream_feature_view
  sdk/python/feast/infra/contrib/spark_kafka_processor.py
Owners: none

isort linting
  sdk/python/feast/infra/contrib/spark_kafka_processor.py
  sdk/python/feast/infra/offline_stores/contrib/athena_offline_store/tests/data_source.py
  sdk/python/feast/infra/offline_stores/contrib/mssql_offline_store/tests/data_source.py
  sdk/python/feast/infra/offline_stores/contrib/postgres_offline_store/tests/data_source.py
  sdk/python/feast/infra/offline_stores/contrib/spark_offline_store/tests/data_source.py
  sdk/python/feast/infra/offline_stores/contrib/trino_offline_store/tests/data_source.py
  sdk/python/feast/infra/offline_stores/snowflake.py
  sdk/python/tests/integration/feature_repos/universal/data_source_creator.py
  sdk/python/tests/integration/feature_repos/universal/data_sources/bigquery.py
  sdk/python/tests/integration/feature_repos/universal/data_sources/file.py
  sdk/python/tests/integration/feature_repos/universal/data_sources/redshift.py
  sdk/python/tests/integration/feature_repos/universal/data_sources/snowflake.py
  sdk/python/tests/integration/feature_repos/universal/online_store/cassandra.py
  sdk/python/tests/integration/feature_repos/universal/online_store/datastore.py
  sdk/python/tests/integration/feature_repos/universal/online_store/dynamodb.py
  sdk/python/tests/integration/feature_repos/universal/online_store/hazelcast.py
  sdk/python/tests/integration/feature_repos/universal/online_store/hbase.py
  sdk/python/tests/integration/feature_repos/universal/online_store/mysql.py
  sdk/python/tests/integration/feature_repos/universal/online_store/redis.py
Owners: @toping4445, @kevjumba, @niklasvm, @sfc-gh-madkins, @sudohainguyen

fixing circular imports
  sdk/python/feast/infra/registry/base_registry.py
Owners: none

mypy checking of all files in sdk/python folder
  Makefile
Owners: none

checking only feast directory for mypy errors
  Makefile
Owners: none

feat: Update the pydantic version to v2.
  sdk/python/feast/infra/feature_servers/aws_lambda/config.py
  sdk/python/feast/infra/feature_servers/gcp_cloudrun/config.py
  sdk/python/feast/infra/feature_servers/local_process/config.py
  sdk/python/feast/infra/materialization/snowflake_engine.py
  sdk/python/feast/infra/offline_stores/bigquery.py
  sdk/python/feast/infra/offline_stores/contrib/athena_offline_store/athena.py
  sdk/python/feast/infra/offline_stores/contrib/mssql_offline_store/mssql.py
  sdk/python/feast/infra/offline_stores/contrib/postgres_offline_store/postgres.py
  sdk/python/feast/infra/offline_stores/contrib/trino_offline_store/trino.py
  sdk/python/feast/infra/offline_stores/file.py
  sdk/python/feast/infra/offline_stores/redshift.py
  sdk/python/feast/infra/offline_stores/snowflake.py
  sdk/python/feast/infra/online_stores/bigtable.py
  sdk/python/feast/infra/online_stores/contrib/cassandra_online_store/cassandra_online_store.py
  sdk/python/feast/infra/online_stores/contrib/hbase_online_store/hbase.py
  sdk/python/feast/infra/online_stores/contrib/mysql_online_store/mysql.py
  sdk/python/feast/infra/online_stores/contrib/postgres.py
  sdk/python/feast/infra/online_stores/datastore.py
  sdk/python/feast/infra/online_stores/dynamodb.py
  sdk/python/feast/infra/online_stores/redis.py
  sdk/python/feast/infra/online_stores/snowflake.py
  sdk/python/feast/infra/online_stores/sqlite.py
  sdk/python/feast/infra/passthrough_provider.py
  sdk/python/feast/infra/registry/snowflake.py
  sdk/python/feast/repo_config.py
  sdk/python/tests/integration/feature_repos/repo_configuration.py
  sdk/python/tests/unit/infra/offline_stores/test_offline_store.py
  sdk/python/tests/unit/infra/offline_stores/test_redshift.py
  sdk/python/tests/unit/infra/scaffolding/test_repo_config.py
  sdk/python/tests/utils/cli_repo_creator.py
  setup.py
Owners: @sfc-gh-madkins, @sudohainguyen, @toping4445, @kevjumba, @DvirDukhan

feat: fix the python lint check errors.
  sdk/python/feast/importer.py
  sdk/python/feast/infra/contrib/spark_kafka_processor.py
  sdk/python/feast/infra/contrib/stream_processor.py
  sdk/python/feast/infra/feature_servers/base_config.py
  sdk/python/feast/infra/offline_stores/contrib/athena_offline_store/tests/data_source.py
  sdk/python/feast/infra/offline_stores/contrib/mssql_offline_store/mssql.py
  sdk/python/feast/infra/offline_stores/contrib/mssql_offline_store/tests/data_source.py
  sdk/python/feast/infra/offline_stores/contrib/postgres_offline_store/tests/data_source.py
  sdk/python/feast/infra/offline_stores/contrib/spark_offline_store/tests/data_source.py
  sdk/python/feast/infra/offline_stores/contrib/trino_offline_store/test_config/manual_tests.py
  sdk/python/feast/infra/offline_stores/contrib/trino_offline_store/tests/data_source.py
  sdk/python/feast/infra/offline_stores/snowflake_source.py
  sdk/python/feast/infra/registry/base_registry.py
  sdk/python/feast/infra/utils/snowflake/snowflake_utils.py
  sdk/python/feast/repo_config.py
  sdk/python/tests/conftest.py
  sdk/python/tests/foo_provider.py
  sdk/python/tests/integration/feature_repos/repo_configuration.py
  sdk/python/tests/integration/feature_repos/universal/data_source_creator.py
  sdk/python/tests/integration/feature_repos/universal/data_sources/bigquery.py
  sdk/python/tests/integration/feature_repos/universal/data_sources/file.py
  sdk/python/tests/integration/feature_repos/universal/data_sources/redshift.py
  sdk/python/tests/integration/feature_repos/universal/data_sources/snowflake.py
  sdk/python/tests/integration/feature_repos/universal/feature_views.py
  sdk/python/tests/integration/feature_repos/universal/online_store_creator.py
  sdk/python/tests/unit/cli/test_cli_chdir.py
  sdk/python/tests/unit/infra/offline_stores/test_offline_store.py
  sdk/python/tests/utils/cli_repo_creator.py
Owners: @toping4445, @kevjumba, @niklasvm, @sfc-gh-madkins, @sudohainguyen

feat: fix few type checking errors.
  sdk/python/feast/infra/offline_stores/contrib/spark_offline_store/tests/data_source.py
  sdk/python/feast/infra/offline_stores/offline_store.py
  sdk/python/tests/unit/infra/offline_stores/test_offline_store.py
  sdk/python/tests/utils/e2e_test_validation.py
Owners: @niklasvm, @kevjumba, @feast-dev/maintainers

feat: update the requirements.
  sdk/python/requirements/py3.10-ci-requirements.txt
  sdk/python/requirements/py3.10-requirements.txt
  sdk/python/requirements/py3.8-ci-requirements.txt
  sdk/python/requirements/py3.8-requirements.txt
  sdk/python/requirements/py3.9-ci-requirements.txt
  sdk/python/requirements/py3.9-requirements.txt
Owners: none

fix: downgrade the version of moto to moto<5.
  sdk/python/requirements/py3.10-ci-requirements.txt
  sdk/python/requirements/py3.8-ci-requirements.txt
  sdk/python/requirements/py3.9-ci-requirements.txt
Owners: none

fix: Update the setup.py and requirements.txt. Fix test errors.
  sdk/python/feast/importer.py
  sdk/python/requirements/py3.10-ci-requirements.txt
  sdk/python/requirements/py3.10-requirements.txt
  sdk/python/requirements/py3.8-ci-requirements.txt
  sdk/python/requirements/py3.8-requirements.txt
  sdk/python/requirements/py3.9-ci-requirements.txt
  sdk/python/requirements/py3.9-requirements.txt
  sdk/python/tests/foo_provider.py
  sdk/python/tests/integration/feature_repos/universal/online_store_creator.py
  sdk/python/tests/unit/infra/scaffolding/test_repo_config.py
  setup.py
Owners: none

decouple transformation from odfvs
  protos/feast/core/OnDemandFeatureView.proto
  sdk/python/feast/infra/registry/base_registry.py
  sdk/python/feast/on_demand_feature_view.py
  sdk/python/feast/on_demand_pandas_transformation.py
  sdk/python/tests/integration/feature_repos/universal/feature_views.py
  sdk/python/tests/unit/test_on_demand_feature_view.py
Owners: none

fix: Typo fixing.
  sdk/python/feast/infra/offline_stores/contrib/athena_offline_store/tests/data_source.py
Owners: @toping4445

Create test-streaming-ingestion.yml
  .github/workflows/test-streaming-ingestion.yml
Owners: none

allow extras for FeastConfigBaseModel
  sdk/python/feast/repo_config.py
Owners: none

fixing tests
  sdk/python/tests/conftest.py
  sdk/python/tests/integration/materialization/contrib/spark/test_spark.py
Owners: none

adding extra field for online store config
  sdk/python/tests/unit/infra/scaffolding/test_repo_config.py
Owners: none

fix: Improvements following the PR comments. Remove unnecessary changes.
  sdk/python/feast/infra/offline_stores/offline_store.py
  sdk/python/feast/infra/offline_stores/snowflake_source.py
  sdk/python/feast/infra/registry/base_registry.py
  sdk/python/feast/repo_config.py
  sdk/python/tests/integration/feature_repos/universal/data_source_creator.py
  sdk/python/tests/integration/feature_repos/universal/data_sources/bigquery.py
  sdk/python/tests/integration/feature_repos/universal/data_sources/file.py
Owners: @feast-dev/maintainers, @sfc-gh-madkins, @sudohainguyen

fix: Fix copy method for StreamFeatureView
  sdk/python/feast/stream_feature_view.py
  sdk/python/tests/unit/test_feature_views.py
Owners: none

fix: Rewrite Spark materialization engine to use mapInPandas (#3936)
  sdk/python/feast/infra/materialization/contrib/spark/spark_materialization_engine.py
Owners: none

OnDemandFeatureView: keep udf and udf_string parameters for backwards compatibility
  sdk/python/feast/on_demand_feature_view.py
  sdk/python/tests/unit/test_on_demand_feature_view.py
Owners: none

chore: Added logging to understand the time to refresh registry cache and warn when go feature server has no object in registry refresh (#82)
  go/internal/feast/registry/http.go
  sdk/python/feast/infra/registry/sql.py
Owners: none

chore: Loosen fsspec requirements to allow recent releases
  sdk/python/requirements/py3.10-ci-requirements.txt
  sdk/python/requirements/py3.10-requirements.txt
  sdk/python/requirements/py3.8-ci-requirements.txt
  sdk/python/requirements/py3.8-requirements.txt
  sdk/python/requirements/py3.9-ci-requirements.txt
  sdk/python/requirements/py3.9-requirements.txt
  setup.py
Owners: none

drop redundant fsspec now that this is in another extra
  setup.py
Owners: none

post rebase regen
  sdk/python/requirements/py3.10-ci-requirements.txt
  sdk/python/requirements/py3.10-requirements.txt
  sdk/python/requirements/py3.8-ci-requirements.txt
  sdk/python/requirements/py3.8-requirements.txt
  sdk/python/requirements/py3.9-ci-requirements.txt
  sdk/python/requirements/py3.9-requirements.txt
Owners: none

chore: Loosen fsspec requirements to allow recent releases (#3922)
  sdk/python/requirements/py3.10-ci-requirements.txt
  sdk/python/requirements/py3.10-requirements.txt
  sdk/python/requirements/py3.8-ci-requirements.txt
  sdk/python/requirements/py3.8-requirements.txt
  sdk/python/requirements/py3.9-ci-requirements.txt
  sdk/python/requirements/py3.9-requirements.txt
  setup.py
Owners: none

fix: reduce the repeated function calls. Add classmethod decorator to class methods.
  sdk/python/feast/repo_config.py
  sdk/python/tests/unit/cli/test_cli_chdir.py
Owners: none

chore: Support pandas 2
  sdk/python/requirements/py3.10-ci-requirements.txt
  sdk/python/requirements/py3.10-requirements.txt
  setup.py
Owners: none

fix: Update imports in mysql unit test
  sdk/python/tests/unit/infra/online_store/test_dynamodb_online_store.py
Owners: none

chore: Generate reqs for py38 and py39
  sdk/python/requirements/py3.8-ci-requirements.txt
  sdk/python/requirements/py3.8-requirements.txt
  sdk/python/requirements/py3.9-ci-requirements.txt
  sdk/python/requirements/py3.9-requirements.txt
Owners: none

fix: Set upper bound for moto
  sdk/python/tests/unit/infra/online_store/test_dynamodb_online_store.py
Owners: none
