Repository feast-dev/feast, changes with the owners that CODEOWNERS names for each.
All owners: @feast-dev/maintainers, @chhabrakadabra, @mavysavydav, @sfc-gh-madkins, @DvirDukhan, @whoahbot, @toping4445, @kevjumba, @niklasvm, @hemidactylus, @achals, @adchia

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# Core Interfaces
/sdk/python/feast/infra/offline_stores/offline_store.py @feast-dev/maintainers @chhabrakadabra @mavysavydav @sfc-gh-madkins
/sdk/python/feast/infra/online_stores/online_store.py @feast-dev/maintainers @DvirDukhan
/sdk/python/feast/infra/materialization_engine/batch_materialization_engine.py @feast-dev/maintainers @whoahbot @sfc-gh-madkins

# ==== Offline Stores ====
# Core utils
/sdk/python/feast/infra/offline_stores/offline_utils.py @feast-dev/maintainers @chhabrakadabra @mavysavydav @sfc-gh-madkins

# BigQuery
/sdk/python/feast/infra/offline_stores/offline_store.py @feast-dev/maintainers @chhabrakadabra @mavysavydav

# Snowflake
/sdk/python/feast/infra/offline_stores/snowflake* @sfc-gh-madkins

# Athena (contrib)
/sdk/python/feast/infra/offline_stores/contrib/athena_offline_store/ @toping4445

# Azure SQL (contrib)
/sdk/python/feast/infra/offline_stores/contrib/mssql_offline_store/ @kevjumba

# Spark (contrib)
/sdk/python/feast/infra/offline_stores/contrib/spark_offline_store/ @niklasvm @kevjumba

# ==== Online Stores ====

# Redis
/sdk/python/feast/infra/online_stores/redis.py @DvirDukhan
/java/feast/serving/connectors/redis/ @DvirDukhan

# Snowflake
/sdk/python/feast/infra/online_stores/snowflake.py @sfc-gh-madkins

# Cassandra (contrib)
/sdk/python/feast/infra/online_stores/cassandra_online_store/ @hemidactylus

# ==== Batch Materialization Engines ====

# Snowflake
/sdk/python/feast/infra/materialization/snowflake* @sfc-gh-madkins

# Bytewax
/sdk/python/feast/infra/materialization/contrib/bytewax/ @whoahbot

# AWS Lambda
/sdk/python/feast/infra/materialization/contrib/aws_lambda/ @achals

# ==== Web UI ====
/ui/ @adchia
/sdk/python/feast/ui/ @adchia
/sdk/python/feast/ui_server.py @adchia

Fix DatatSourceModel to SparkSource pydantic conversion and add tests
  sdk/python/feast/infra/offline_stores/contrib/spark_offline_store/spark_source.py
  sdk/python/tests/unit/test_pydantic_models.py
Owners: @niklasvm, @kevjumba

Allow dtypes to be defined by strings, add more tests
  sdk/python/feast/data_source.py
  sdk/python/feast/field.py
  sdk/python/feast/infra/offline_stores/contrib/spark_offline_store/spark_source.py
  sdk/python/feast/types.py
  sdk/python/tests/unit/test_pydantic_models.py
Owners: @niklasvm, @kevjumba

Adjust schema conversion in RequestSource datasource_from_pydantic_model
  sdk/python/feast/data_source.py
Owners: none

Remove unnecessary properties from FeatureView pydantic model
  sdk/python/feast/feature_view.py
  sdk/python/tests/unit/test_pydantic_models.py
Owners: none

Remove parameters that weren't removed last time from FeatureView pydantic model, and do some linting
  sdk/python/feast/data_source.py
  sdk/python/feast/entity.py
  sdk/python/feast/feature_service.py
  sdk/python/feast/feature_view.py
  sdk/python/feast/field.py
  sdk/python/feast/infra/offline_stores/contrib/spark_offline_store/spark_source.py
  sdk/python/feast/types.py
  sdk/python/tests/unit/test_feature_views.py
  sdk/python/tests/unit/test_pydantic_models.py
Owners: @niklasvm, @kevjumba

Finish linting
  sdk/python/feast/data_source.py
  sdk/python/feast/feature_view.py
  sdk/python/feast/field.py
Owners: none

ci: Add bigtable cleanup script
  .github/workflows/nightly-ci.yml
  infra/scripts/cleanup_ci.py
  infra/scripts/cleanup_dynamo_ci.py
Owners: none

fix: Missing Catalog argument in athena connector (#3661)
  sdk/python/feast/infra/utils/aws_utils.py
Owners: none

ci: Disable flaky lambda materialization test
  sdk/python/tests/integration/materialization/test_lambda.py
Owners: none

fix: Broken non-root path with projects-list.json (#3665)
  ui/src/index.tsx
Owners: @adchia

fix: Manage redis pipe's context (#3655)
  sdk/python/feast/infra/online_stores/redis.py
Owners: @DvirDukhan

Test offline_write_batch
  sdk/python/tests/unit/infra/offline_stores/test_redshift.py
Owners: none

Pydantic model compatibility (#1)
  sdk/python/feast/expediagroup/pydantic_models/data_source_model.py
  sdk/python/feast/expediagroup/pydantic_models/entity_model.py
  sdk/python/feast/expediagroup/pydantic_models/feature_view_model.py
  sdk/python/feast/feature_view.py
  sdk/python/feast/field.py
  sdk/python/feast/infra/offline_stores/contrib/spark_offline_store/spark_source.py
  sdk/python/feast/stream_feature_view.py
  sdk/python/feast/types.py
  sdk/python/requirements/py3.8-ci-requirements.txt
  sdk/python/tests/integration/feature_repos/universal/feature_views.py
  sdk/python/tests/unit/test_feature_views.py
  sdk/python/tests/unit/test_pydantic_models.py
  setup.py
Owners: @niklasvm, @kevjumba

init
  sdk/python/feast/feature_store.py
Owners: none

increment versions
  pyproject.toml
  setup.py
Owners: none

save
  sdk/python/feast/feature_store.py
  sdk/python/feast/on_demand_feature_view.py
  sdk/python/feast/online_response.py
Owners: none

save
  sdk/python/feast/feature_store.py
  sdk/python/feast/on_demand_feature_view.py
Owners: none

odfv proto
  protos/feast/core/OnDemandFeatureView.proto
Owners: none

init
  pyproject.toml
  setup.py
Owners: none

increase setup version
  setup.py
Owners: none

fix refrences
  sdk/python/feast/embedded_go/online_features_service.py
  sdk/python/feast/feature_store.py
  sdk/python/feast/infra/offline_stores/offline_store.py
  sdk/python/feast/on_demand_feature_view.py
  sdk/python/feast/transformation_server.py
Owners: @feast-dev/maintainers, @chhabrakadabra, @mavysavydav

opts
  sdk/python/feast/feature_store.py
  sdk/python/feast/on_demand_feature_view.py
Owners: none

don't add timestamp
  sdk/python/feast/feature_store.py
Owners: none

rename to feast (#2)
  setup.py
Owners: none

fix semver regex (#3)
  infra/scripts/setup-common-functions.sh
Owners: none

feat: Optimize bytes processed when retrieving entity df schema to 0
  sdk/python/feast/infra/offline_stores/bigquery.py
Owners: none

Revert "fix semver regex (#3)" (#4)
  infra/scripts/setup-common-functions.sh
Owners: none

Revert back to eg-feast (#5)
  setup.py
Owners: none

* sql.py data_sources.data_source_name String(255)
  sdk/python/feast/infra/registry/sql.py
Owners: none

fix: For SQL registry, increase max data_source_name length to 255 (#3630)
  sdk/python/feast/infra/registry/sql.py
Owners: none

fix: Optimize bytes processed when retrieving entity df schema to 0 (#3680)
  sdk/python/feast/infra/offline_stores/bigquery.py
Owners: none

fix: Entityless fv breaks with `KeyError: __dummy` applying feature_store.plan() on python (#3640)
  sdk/python/feast/inference.py
Owners: none

initial commit for testing reading iceberg format
  sdk/python/feast/infra/offline_stores/contrib/spark_offline_store/spark_source.py
Owners: @niklasvm, @kevjumba

chore(release): release 0.32.0
  CHANGELOG.md
  infra/charts/feast-feature-server/Chart.yaml
  infra/charts/feast-feature-server/README.md
  infra/charts/feast-feature-server/values.yaml
  infra/charts/feast/Chart.yaml
  infra/charts/feast/README.md
  infra/charts/feast/charts/feature-server/Chart.yaml
  infra/charts/feast/charts/feature-server/README.md
  infra/charts/feast/charts/feature-server/values.yaml
  infra/charts/feast/charts/transformation-service/Chart.yaml
  infra/charts/feast/charts/transformation-service/README.md
  infra/charts/feast/charts/transformation-service/values.yaml
  infra/charts/feast/requirements.yaml
  java/pom.xml
  sdk/python/feast/ui/package.json
  sdk/python/feast/ui/yarn.lock
  ui/package.json
Owners: @adchia

Notes added by 'git notes add'
  9527183b7520b79cca0b442523228e1cb3b7cf2d
Owners: none

fix: issue-4682: run store.plan() only when need it.
  sdk/python/feast/repo_operations.py
Owners: none

fix: issue-3682: run store.plan() only when need it.
  sdk/python/feast/repo_operations.py
Owners: none

Fix field being accessed
  pyproject.toml
  ui/src/pages/feature-views/StreamFeatureViewOverviewTab.tsx
Owners: @adchia

Update version of feast package.
  pyproject.toml
  setup.py
Owners: none

feat: Added pydantic model support for Field, FVP, ODFV, Project Metadata and Feature Services (#6)
  .gitignore
  protos/feast/core/FeatureView.proto
  sdk/python/feast/errors.py
  sdk/python/feast/expediagroup/pydantic_models/data_source_model.py
  sdk/python/feast/expediagroup/pydantic_models/entity_model.py
  sdk/python/feast/expediagroup/pydantic_models/feature_service.py
  sdk/python/feast/expediagroup/pydantic_models/feature_view_model.py
  sdk/python/feast/expediagroup/pydantic_models/field_model.py
  sdk/python/feast/expediagroup/pydantic_models/project_metadata_model.py
  sdk/python/feast/feature_view.py
  sdk/python/feast/feature_view_projection.py
  sdk/python/feast/field.py
  sdk/python/feast/infra/registry/sql.py
  sdk/python/feast/types.py
  sdk/python/tests/unit/test_pydantic_models.py
  sdk/python/tests/unit/test_types.py
Owners: none
