Repository feast-dev/feast, changes with the owners that CODEOWNERS names for each.
All owners: @feast-dev/maintainers, @chhabrakadabra, @mavysavydav, @sfc-gh-madkins, @DvirDukhan, @whoahbot, @toping4445, @kevjumba, @niklasvm, @hemidactylus, @achals, @adchia

feat: add possibility to save dataset as table, when spark config has remote warehouse info
  sdk/python/feast/infra/offline_stores/contrib/spark_offline_store/spark.py
Owners: @niklasvm, @kevjumba

feat: Use string as a substitute for unregistered types during schema inference
  sdk/python/feast/type_map.py
Owners: none

feat: Use string as a substitute for unregistered types during schema inference (#3646)
  sdk/python/feast/type_map.py
Owners: none

Create SECURITY.md
  SECURITY.md
Owners: none

add mysql batch read POC
  pyproject.toml
  sdk/python/feast/feature_store.py
  sdk/python/feast/infra/online_stores/contrib/mysql_online_store/mysql.py
  sdk/python/feast/infra/online_stores/online_store.py
  sdk/python/feast/infra/passthrough_provider.py
  setup.py
Owners: @feast-dev/maintainers, @DvirDukhan

Create SECURITY.md (#1)
  SECURITY.md
Owners: none

Create SECURITY.md
  SECURITY.md
Owners: none

fix: Manage redis pipe's context
  sdk/python/feast/infra/online_stores/redis.py
Owners: @DvirDukhan

Add ScyllaDB docs
  docs/SUMMARY.md
  docs/reference/online-stores/README.md
  docs/reference/online-stores/scylladb.md
Owners: none

bump googleapis-common-protos==1.56.2
  pyproject.toml
  setup.py
Owners: none

bump PyYAML>=5.3.1
  pyproject.toml
  setup.py
Owners: none

fix dependecy version grpcio==1.53.1
  pyproject.toml
  setup.py
Owners: none

fix dependecy version grpcio==1.51.1
  pyproject.toml
  setup.py
Owners: none

update Catalog argument in athena connector
  sdk/python/feast/infra/utils/aws_utils.py
Owners: none

change package name, create branch
  setup.py
Owners: none

remove publish and release actions
  .github/workflows/publish.yml
  .github/workflows/release.yml
Owners: none

draft implementation for registry service
  protos/feast/registry/RegistryService.proto
  sdk/python/feast/feature_store.py
  sdk/python/feast/infra/registry/registry.py
  sdk/python/feast/infra/registry/remote.py
  sdk/python/feast/infra/registry/remote_server.py
  sdk/python/feast/repo_config.py
  setup.py
Owners: none

Add fully-qualified-table-name Redshift prop
  sdk/python/feast/infra/offline_stores/redshift.py
  sdk/python/feast/infra/offline_stores/redshift_source.py
Owners: none

pre-commit
  sdk/python/feast/infra/offline_stores/redshift_source.py
Owners: none

Pin protobuf to <3.20 for compatibility with tensorflow
  setup.py
Owners: none

Subclass Entity to Pydantic BaseModel so it can be sent and received by FastAPI
  sdk/python/feast/entity.py
  sdk/python/feast/feature_store.py
  sdk/python/requirements/py3.8-ci-requirements.txt
  sdk/python/tests/unit/test_entity.py
Owners: none

Change protobuf version supported in setup_requires
  setup.py
Owners: none

Add Pydantic Model conversion to Entity instead of subclassing it
  sdk/python/feast/base_feature_view.py
  sdk/python/feast/entity.py
  sdk/python/tests/unit/test_entity.py
  setup.py
Owners: none

Fix accidental python requirement change
  setup.py
Owners: none

ensure correct precedence with the two operators
  ui/src/index.tsx
Owners: @adchia

Docstring
  sdk/python/feast/infra/offline_stores/redshift_source.py
Owners: none

Test fully_qualified_table_name
  sdk/python/feast/infra/offline_stores/redshift_source.py
  sdk/python/tests/unit/test_data_sources.py
Owners: none

Simplify logic
  sdk/python/feast/infra/offline_stores/redshift_source.py
Owners: none

pre-commit
  sdk/python/feast/infra/offline_stores/redshift_source.py
  sdk/python/tests/unit/test_data_sources.py
Owners: none

pre-commit
  sdk/python/feast/infra/offline_stores/redshift_source.py
Owners: none

Add Pydantic Model conversion to two DataSources, RequestSource and SparkSource
  sdk/python/feast/data_source.py
  sdk/python/feast/entity.py
  sdk/python/feast/field.py
  sdk/python/feast/infra/offline_stores/contrib/spark_offline_store/spark_source.py
  sdk/python/tests/unit/test_feature_views.py
Owners: @niklasvm, @kevjumba

Add Pydantic Model conversion to FeatureView
  sdk/python/feast/data_source.py
  sdk/python/feast/entity.py
  sdk/python/feast/feature_view.py
Owners: none

Fix some optional strings for Pydantic models
  sdk/python/feast/infra/offline_stores/contrib/spark_offline_store/spark_source.py
Owners: @niklasvm, @kevjumba

Fix small errors in DataSource and FeatureView pydantic models, do partial work for FeatureService pydantic model, and add unit tests for pydantic models.
  sdk/python/feast/data_source.py
  sdk/python/feast/entity.py
  sdk/python/feast/feature_service.py
  sdk/python/feast/feature_view.py
  sdk/python/feast/field.py
  sdk/python/feast/infra/offline_stores/contrib/spark_offline_store/spark_source.py
  sdk/python/tests/unit/test_pydantic_models.py
Owners: @niklasvm, @kevjumba

Add FeatureView Pydantic Model test, fix FeatureView model conversion, fix FeatureView to not desroy some of its arguments
  sdk/python/feast/feature_view.py
  sdk/python/tests/unit/test_pydantic_models.py
Owners: none

Fix Entity json encoding in FeatureView pydantic model
  sdk/python/feast/feature_view.py
Owners: none

Small bug fix to make Entity list optional in FeatureViews pydantic model
  sdk/python/feast/feature_view.py
  sdk/python/tests/unit/test_pydantic_models.py
Owners: none

WIP. Try adding more types to json encoder to get type checking to work.
  sdk/python/feast/feature_view.py
Owners: none

WIP. Fixing json encoding of types
  sdk/python/feast/feature_view.py
Owners: none

Make FeastTypes Pydantic compatible
  sdk/python/feast/embedded_go/type_map.py
  sdk/python/feast/types.py
  sdk/python/tests/integration/feature_repos/universal/feature_views.py
Owners: none

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# Core Interfaces
/sdk/python/feast/infra/offline_stores/offline_store.py @feast-dev/maintainers @chhabrakadabra @mavysavydav @sfc-gh-madkins
/sdk/python/feast/infra/online_stores/online_store.py @feast-dev/maintainers @DvirDukhan
/sdk/python/feast/infra/materialization_engine/batch_materialization_engine.py @feast-dev/maintainers @whoahbot @sfc-gh-madkins

# ==== Offline Stores ====
# Core utils
/sdk/python/feast/infra/offline_stores/offline_utils.py @feast-dev/maintainers @chhabrakadabra @mavysavydav @sfc-gh-madkins

# BigQuery
/sdk/python/feast/infra/offline_stores/offline_store.py @feast-dev/maintainers @chhabrakadabra @mavysavydav

# Snowflake
/sdk/python/feast/infra/offline_stores/snowflake* @sfc-gh-madkins

# Athena (contrib)
/sdk/python/feast/infra/offline_stores/contrib/athena_offline_store/ @toping4445

# Azure SQL (contrib)
/sdk/python/feast/infra/offline_stores/contrib/mssql_offline_store/ @kevjumba

# Spark (contrib)
/sdk/python/feast/infra/offline_stores/contrib/spark_offline_store/ @niklasvm @kevjumba

# ==== Online Stores ====

# Redis
/sdk/python/feast/infra/online_stores/redis.py @DvirDukhan
/java/feast/serving/connectors/redis/ @DvirDukhan

# Snowflake
/sdk/python/feast/infra/online_stores/snowflake.py @sfc-gh-madkins

# Cassandra (contrib)
/sdk/python/feast/infra/online_stores/cassandra_online_store/ @hemidactylus

# ==== Batch Materialization Engines ====

# Snowflake
/sdk/python/feast/infra/materialization/snowflake* @sfc-gh-madkins

# Bytewax
/sdk/python/feast/infra/materialization/contrib/bytewax/ @whoahbot

# AWS Lambda
/sdk/python/feast/infra/materialization/contrib/aws_lambda/ @achals

# ==== Web UI ====
/ui/ @adchia
/sdk/python/feast/ui/ @adchia
/sdk/python/feast/ui_server.py @adchia
