Repository feast-dev/feast, changes with the owners that CODEOWNERS names for each.
All owners: @feast-dev/maintainers, @chhabrakadabra, @mavysavydav, @sfc-gh-madkins, @DvirDukhan, @whoahbot, @toping4445, @kevjumba, @niklasvm, @hemidactylus, @achals, @adchia

chore(release): release 0.33.0
  CHANGELOG.md
  infra/charts/feast-feature-server/Chart.yaml
  infra/charts/feast-feature-server/README.md
  infra/charts/feast-feature-server/values.yaml
  infra/charts/feast/Chart.yaml
  infra/charts/feast/README.md
  infra/charts/feast/charts/feature-server/Chart.yaml
  infra/charts/feast/charts/feature-server/README.md
  infra/charts/feast/charts/feature-server/values.yaml
  infra/charts/feast/charts/transformation-service/Chart.yaml
  infra/charts/feast/charts/transformation-service/README.md
  infra/charts/feast/charts/transformation-service/values.yaml
  infra/charts/feast/requirements.yaml
  java/pom.xml
  sdk/python/feast/ui/package.json
  sdk/python/feast/ui/yarn.lock
  ui/package.json
Owners: @adchia

Notes added by 'git notes add'
  7cd80ea5bdfb879ae16394480d3508eb14ff1c4a
Owners: none

ci: Temporarily disable smoke tests
  .github/workflows/build_wheels.yml
Owners: none

ci: Temporarily disable smoke tests (#3727)
  .github/workflows/build_wheels.yml
Owners: none

fix: Run store.plan() only when need it. (#3708)
  sdk/python/feast/repo_operations.py
Owners: none

chore(release): release 0.33.1
  CHANGELOG.md
  infra/charts/feast-feature-server/Chart.yaml
  infra/charts/feast-feature-server/README.md
  infra/charts/feast-feature-server/values.yaml
  infra/charts/feast/Chart.yaml
  infra/charts/feast/README.md
  infra/charts/feast/charts/feature-server/Chart.yaml
  infra/charts/feast/charts/feature-server/README.md
  infra/charts/feast/charts/feature-server/values.yaml
  infra/charts/feast/charts/transformation-service/Chart.yaml
  infra/charts/feast/charts/transformation-service/README.md
  infra/charts/feast/charts/transformation-service/values.yaml
  infra/charts/feast/requirements.yaml
  java/pom.xml
  sdk/python/feast/ui/package.json
  sdk/python/feast/ui/yarn.lock
  ui/package.json
Owners: @adchia

Notes added by 'git notes add'
  1ff9aee46dd350970dc08b97dfbfcc3a6ae5e8d2
Owners: none

Implement online_delete().
  sdk/python/feast/infra/online_stores/contrib/mysql_online_store/mysql.py
  sdk/python/feast/infra/online_stores/online_store.py
  sdk/python/feast/infra/passthrough_provider.py
  sdk/python/feast/infra/provider.py
Owners: @feast-dev/maintainers, @DvirDukhan

Increment feast version.
  pyproject.toml
  setup.py
Owners: none

Increment feast version.
  pyproject.toml
  setup.py
Owners: none

integration testing for Milvus - tests will fail until all methods are implemented
  milvus/Dockerfile
  sdk/python/feast/driver_test_data.py
  sdk/python/feast/expediagroup/vectordb/milvus_online_store.py
  sdk/python/feast/repo_config.py
  sdk/python/tests/expediagroup/milvus_online_store_creator.py
  sdk/python/tests/expediagroup/test_milvus_online_store.py
  sdk/python/tests/integration/feature_repos/repo_configuration.py
  sdk/python/tests/integration/feature_repos/universal/feature_views.py
  sdk/python/tests/integration/online_store/test_universal_online.py
Owners: none

fixed random lint issues that were raised
  sdk/python/feast/diff/registry_diff.py
  sdk/python/feast/feature_store.py
  sdk/python/feast/field.py
  sdk/python/feast/infra/offline_stores/bigquery.py
  sdk/python/feast/type_map.py
  sdk/python/tests/unit/local_feast_tests/test_local_feature_store.py
  sdk/python/tests/unit/test_feature_views.py
Owners: none

formatting and cleanup
  sdk/python/feast/driver_test_data.py
  sdk/python/tests/expediagroup/milvus_online_store_creator.py
  sdk/python/tests/expediagroup/test_milvus_online_store.py
  sdk/python/tests/integration/feature_repos/repo_configuration.py
  sdk/python/tests/integration/feature_repos/universal/feature_views.py
Owners: none

removed unused config
  sdk/python/tests/integration/feature_repos/repo_configuration.py
Owners: none

updated Milvus docker image
  sdk/python/tests/expediagroup/milvus_online_store_creator.py
Owners: none

reformatted and increased timeout
  sdk/python/tests/expediagroup/milvus_online_store_creator.py
Owners: none

Milvus unit test now using dynamically assigned port from Docker image
  sdk/python/tests/expediagroup/test_milvus_online_store.py
Owners: none

Update pr_local_integration_tests.yml
  .github/workflows/pr_local_integration_tests.yml
Owners: none

formatting
  sdk/python/tests/expediagroup/test_milvus_online_store.py
Owners: none

Update pr_local_integration_tests.yml
  .github/workflows/pr_local_integration_tests.yml
Owners: none

disabling Milvus integration tests until implementation is complete
  sdk/python/tests/integration/feature_repos/repo_configuration.py
Owners: none

Update unit_tests.yml
  .github/workflows/unit_tests.yml
Owners: none

Support for per-view online store choices
  protos/feast/core/FeatureView.proto
  sdk/python/feast/feature_view.py
  sdk/python/feast/usage.py
Owners: none

Add online store to feature view protos
  sdk/python/feast/protos/feast/core/FeatureView_pb2.py
  sdk/python/feast/protos/feast/core/FeatureView_pb2.pyi
Owners: none

Update py3.8 ci reqs due to cython 3.0 release
  sdk/python/requirements/py3.8-ci-requirements.txt
Owners: none

Update py3.9 ci reqs due to cython 3.0 release
  sdk/python/requirements/py3.9-ci-requirements.txt
Owners: none

Update py3.10 ci reqs due to cython 3.0 release
  sdk/python/requirements/py3.10-ci-requirements.txt
Owners: none

Update py3.8 reqs due to cython 3.0 release
  sdk/python/requirements/py3.8-requirements.txt
Owners: none

Update py3.9 reqs due to cython 3.0 release
  sdk/python/requirements/py3.9-requirements.txt
Owners: none

Update py3.10 reqs due to cython 3.0 release
  sdk/python/requirements/py3.10-requirements.txt
Owners: none

Fix regex log_string_to_wait_for to be more generic for changing versions of mysql
  sdk/python/tests/unit/test_sql_registry.py
Owners: none

Add noqa otherwise flake incorrectly flags W605
  sdk/python/tests/unit/test_sql_registry.py
Owners: none

removed VectorFeatureView and VectorOnlineStore
  protos/feast/core/VectorFeatureView.proto
  sdk/python/feast/expediagroup/vectordb/index_type.py
  sdk/python/feast/expediagroup/vectordb/milvus_online_store.py
  sdk/python/feast/expediagroup/vectordb/vector_online_store.py
  sdk/python/tests/expediagroup/test_milvus_online_store.py
  sdk/python/tests/expediagroup/test_vector_feature_view.py
Owners: none

Added milvus write batch functionality
  sdk/python/feast/expediagroup/vectordb/milvus_online_store.py
  sdk/python/tests/expediagroup/test_milvus_online_store.py
Owners: none

Switch to managing online stores by name
  protos/feast/core/FeatureView.proto
  sdk/python/feast/feature_view.py
  sdk/python/feast/protos/feast/core/FeatureView_pb2.py
  sdk/python/feast/protos/feast/core/FeatureView_pb2.pyi
Owners: none

fix: Fix python unit tests (#3734)
  sdk/python/tests/unit/test_sql_registry.py
Owners: none

removed print statement and moved tag to right location
  sdk/python/tests/integration/feature_repos/universal/feature_views.py
  sdk/python/tests/integration/online_store/test_universal_online.py
Owners: none

adding upper limit for dimensions in Milvus
  sdk/python/feast/expediagroup/vectordb/milvus_online_store.py
Owners: none

Added milvus write batch functionality (#17)
  sdk/python/feast/expediagroup/vectordb/milvus_online_store.py
  sdk/python/tests/expediagroup/test_milvus_online_store.py
Owners: none

resolve comments
  pyproject.toml
  sdk/python/feast/embedded_go/online_features_service.py
  sdk/python/feast/feature_store.py
  sdk/python/feast/infra/offline_stores/offline_store.py
  sdk/python/feast/on_demand_feature_view.py
  sdk/python/feast/online_response.py
  sdk/python/feast/transformation_server.py
  setup.py
Owners: @feast-dev/maintainers, @chhabrakadabra, @mavysavydav

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# Core Interfaces
/sdk/python/feast/infra/offline_stores/offline_store.py @feast-dev/maintainers @chhabrakadabra @mavysavydav @sfc-gh-madkins
/sdk/python/feast/infra/online_stores/online_store.py @feast-dev/maintainers @DvirDukhan
/sdk/python/feast/infra/materialization_engine/batch_materialization_engine.py @feast-dev/maintainers @whoahbot @sfc-gh-madkins

# ==== Offline Stores ====
# Core utils
/sdk/python/feast/infra/offline_stores/offline_utils.py @feast-dev/maintainers @chhabrakadabra @mavysavydav @sfc-gh-madkins

# BigQuery
/sdk/python/feast/infra/offline_stores/offline_store.py @feast-dev/maintainers @chhabrakadabra @mavysavydav

# Snowflake
/sdk/python/feast/infra/offline_stores/snowflake* @sfc-gh-madkins

# Athena (contrib)
/sdk/python/feast/infra/offline_stores/contrib/athena_offline_store/ @toping4445

# Azure SQL (contrib)
/sdk/python/feast/infra/offline_stores/contrib/mssql_offline_store/ @kevjumba

# Spark (contrib)
/sdk/python/feast/infra/offline_stores/contrib/spark_offline_store/ @niklasvm @kevjumba

# ==== Online Stores ====

# Redis
/sdk/python/feast/infra/online_stores/redis.py @DvirDukhan
/java/feast/serving/connectors/redis/ @DvirDukhan

# Snowflake
/sdk/python/feast/infra/online_stores/snowflake.py @sfc-gh-madkins

# Cassandra (contrib)
/sdk/python/feast/infra/online_stores/cassandra_online_store/ @hemidactylus

# ==== Batch Materialization Engines ====

# Snowflake
/sdk/python/feast/infra/materialization/snowflake* @sfc-gh-madkins

# Bytewax
/sdk/python/feast/infra/materialization/contrib/bytewax/ @whoahbot

# AWS Lambda
/sdk/python/feast/infra/materialization/contrib/aws_lambda/ @achals

# ==== Web UI ====
/ui/ @adchia
/sdk/python/feast/ui/ @adchia
/sdk/python/feast/ui_server.py @adchia
