Repository feast-dev/feast, changes with the owners that CODEOWNERS names for each.
All owners: @feast-dev/maintainers, @chhabrakadabra, @mavysavydav, @sfc-gh-madkins, @DvirDukhan, @whoahbot, @toping4445, @kevjumba, @niklasvm, @hemidactylus, @achals, @adchia

docs: Fix the documentation to run the tutorial Validating historical features with Great Expectations (#3540)
  docs/tutorials/validating-historical-features.md
Owners: none

enable ro dbessions
  sdk/python/feast/infra/online_stores/contrib/mysql_online_store/mysql.py
  setup.py
Owners: none

actually use ro
  sdk/python/feast/infra/online_stores/contrib/mysql_online_store/mysql.py
Owners: none

resets
  sdk/python/feast/ui/package.json
  sdk/python/feast/ui/yarn.lock
Owners: @adchia

add sfv to helper that collects fvs
  sdk/python/feast/infra/registry/registry.py
Owners: none

new pb file integration
  java/serving/src/main/resources/application-override.yaml
  java/serving/src/main/resources/registry.pb
Owners: none

fix: Remove snowflake source warehouse tech debt
  protos/feast/core/DataSource.proto
  sdk/python/feast/infra/offline_stores/snowflake.py
  sdk/python/feast/infra/offline_stores/snowflake_source.py
  sdk/python/tests/integration/feature_repos/universal/data_sources/snowflake.py
  sdk/python/tests/unit/test_data_sources.py
Owners: @sfc-gh-madkins

fix: Batch Snowflake materialization queries to obey Snowpark 100 limit
  sdk/python/feast/infra/materialization/snowflake_engine.py
Owners: @sfc-gh-madkins

docs: Add Snowflake registry bolierplate
  docs/reference/offline-stores/snowflake.md
  docs/reference/registry/snowflake.md
Owners: none

feat: Add better spark support for snowflake offline store
  docs/reference/offline-stores/overview.md
  docs/reference/offline-stores/snowflake.md
  sdk/python/feast/errors.py
  sdk/python/feast/infra/offline_stores/snowflake.py
Owners: @sfc-gh-madkins

fix: Fix Snowflake template
  sdk/python/feast/templates/snowflake/test_workflow.py
Owners: none

relax aws extras requirements
  setup.py
Owners: none

fix: Make snowflake to remote tables temporary
  sdk/python/feast/infra/offline_stores/snowflake.py
Owners: @sfc-gh-madkins

chore: Upgrade Snowflake to 2.9.0
  setup.py
Owners: none

fixup: regen requirements
  sdk/python/requirements/py3.10-ci-requirements.txt
  sdk/python/requirements/py3.8-ci-requirements.txt
  sdk/python/requirements/py3.9-ci-requirements.txt
Owners: none

adding SqlRegistryConfig class
  sdk/python/feast/infra/registry/sql.py
  sdk/python/feast/repo_config.py
Owners: none

refactor: move SqlRegistryConfig class to sql.py
  sdk/python/feast/infra/registry/sql.py
  sdk/python/feast/repo_config.py
Owners: none

fix: Support param timeout when persisting
  sdk/python/feast/infra/offline_stores/bigquery.py
  sdk/python/feast/infra/offline_stores/contrib/athena_offline_store/athena.py
  sdk/python/feast/infra/offline_stores/contrib/mssql_offline_store/mssql.py
  sdk/python/feast/infra/offline_stores/contrib/postgres_offline_store/postgres.py
  sdk/python/feast/infra/offline_stores/contrib/spark_offline_store/spark.py
  sdk/python/feast/infra/offline_stores/contrib/trino_offline_store/trino.py
  sdk/python/feast/infra/offline_stores/file.py
  sdk/python/feast/infra/offline_stores/offline_store.py
  sdk/python/feast/infra/offline_stores/redshift.py
  sdk/python/feast/infra/offline_stores/snowflake.py
  sdk/python/tests/unit/infra/offline_stores/test_offline_store.py
Owners: @toping4445, @kevjumba, @niklasvm, @feast-dev/maintainers, @chhabrakadabra, @mavysavydav, @sfc-gh-madkins

enabling SqlRegistry to accept RegistryConfig or SqlRegistryConfig
  sdk/python/feast/infra/registry/sql.py
Owners: none

fix: Fix Snowflake template (#3584)
  sdk/python/feast/templates/snowflake/test_workflow.py
Owners: none

:pencil: Doc string
  sdk/python/feast/feature_store.py
Owners: none

:construction_worker: missing comma for isort
  sdk/python/feast/cli.py
Owners: none

:zap: added teardown-project command
  sdk/python/feast/cli.py
  sdk/python/feast/feature_store.py
  sdk/python/feast/repo_operations.py
Owners: none

feat: Show bigquery datasource table and query on UI
  ui/package.json
  ui/src/pages/data-sources/BatchSourcePropertiesView.tsx
  ui/yarn.lock
Owners: @adchia

Cache Bigtable client
  sdk/python/feast/infra/online_stores/bigtable.py
Owners: none

Run format
  sdk/python/feast/infra/online_stores/bigtable.py
Owners: none

remove TLS
  sdk/python/feast/infra/offline_stores/contrib/spark_offline_store/spark.py
  sdk/python/feast/infra/online_stores/contrib/mysql_online_store/mysql.py
  sdk/python/feast/ui/package.json
  sdk/python/feast/ui/yarn.lock
Owners: @niklasvm, @kevjumba, @adchia

undo accidental changes
  sdk/python/feast/infra/offline_stores/contrib/spark_offline_store/spark.py
  sdk/python/feast/infra/online_stores/contrib/mysql_online_store/mysql.py
Owners: @niklasvm, @kevjumba

fix ui
  ui/yarn.lock
Owners: @adchia

revert
  setup.py
Owners: none

fix: Revert default timeout value in `to_bigquery`
  sdk/python/feast/infra/offline_stores/bigquery.py
Owners: none

fix: Fix bug with no SqlRegistryConfig class (#3586)
  sdk/python/feast/infra/registry/sql.py
Owners: none

ci: Add 'rockset' as feast pip install extra (#3578)
  setup.py
Owners: none

fix: Bytewax materializer security context (#3573)
  docs/reference/batch-materialization/bytewax.md
  sdk/python/feast/infra/materialization/contrib/bytewax/bytewax_materialization_engine.py
Owners: @whoahbot

fix: Add Stream Feature Views to helper that collect Feature View names (#3582)
  sdk/python/feast/infra/registry/registry.py
Owners: none

fix type
  protos/feast/serving/ServingService.proto
Owners: none

docs: Fix proto docstring typo (#3461)
  protos/feast/serving/ServingService.proto
Owners: none

revert
  setup.py
  test
Owners: none

docs: Add Snowflake registry bolierplate (#3583)
  docs/reference/offline-stores/snowflake.md
  docs/reference/registry/snowflake.md
Owners: none

fix: Make snowflake to remote tables temporary (#3588)
  sdk/python/feast/infra/offline_stores/snowflake.py
Owners: @sfc-gh-madkins

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# Core Interfaces
/sdk/python/feast/infra/offline_stores/offline_store.py @feast-dev/maintainers @chhabrakadabra @mavysavydav @sfc-gh-madkins
/sdk/python/feast/infra/online_stores/online_store.py @feast-dev/maintainers @DvirDukhan
/sdk/python/feast/infra/materialization_engine/batch_materialization_engine.py @feast-dev/maintainers @whoahbot @sfc-gh-madkins

# ==== Offline Stores ====
# Core utils
/sdk/python/feast/infra/offline_stores/offline_utils.py @feast-dev/maintainers @chhabrakadabra @mavysavydav @sfc-gh-madkins

# BigQuery
/sdk/python/feast/infra/offline_stores/offline_store.py @feast-dev/maintainers @chhabrakadabra @mavysavydav

# Snowflake
/sdk/python/feast/infra/offline_stores/snowflake* @sfc-gh-madkins

# Athena (contrib)
/sdk/python/feast/infra/offline_stores/contrib/athena_offline_store/ @toping4445

# Azure SQL (contrib)
/sdk/python/feast/infra/offline_stores/contrib/mssql_offline_store/ @kevjumba

# Spark (contrib)
/sdk/python/feast/infra/offline_stores/contrib/spark_offline_store/ @niklasvm @kevjumba

# ==== Online Stores ====

# Redis
/sdk/python/feast/infra/online_stores/redis.py @DvirDukhan
/java/feast/serving/connectors/redis/ @DvirDukhan

# Snowflake
/sdk/python/feast/infra/online_stores/snowflake.py @sfc-gh-madkins

# Cassandra (contrib)
/sdk/python/feast/infra/online_stores/cassandra_online_store/ @hemidactylus

# ==== Batch Materialization Engines ====

# Snowflake
/sdk/python/feast/infra/materialization/snowflake* @sfc-gh-madkins

# Bytewax
/sdk/python/feast/infra/materialization/contrib/bytewax/ @whoahbot

# AWS Lambda
/sdk/python/feast/infra/materialization/contrib/aws_lambda/ @achals

# ==== Web UI ====
/ui/ @adchia
/sdk/python/feast/ui/ @adchia
/sdk/python/feast/ui_server.py @adchia
