Repository feast-dev/feast, changes with the owners that CODEOWNERS names for each.
All owners: @feast-dev/maintainers, @chhabrakadabra, @mavysavydav, @sfc-gh-madkins, @DvirDukhan, @whoahbot, @toping4445, @kevjumba, @niklasvm, @hemidactylus, @achals, @adchia

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# Core Interfaces
/sdk/python/feast/infra/offline_stores/offline_store.py @feast-dev/maintainers @chhabrakadabra @mavysavydav @sfc-gh-madkins
/sdk/python/feast/infra/online_stores/online_store.py @feast-dev/maintainers @DvirDukhan
/sdk/python/feast/infra/materialization_engine/batch_materialization_engine.py @feast-dev/maintainers @whoahbot @sfc-gh-madkins

# ==== Offline Stores ====
# Core utils
/sdk/python/feast/infra/offline_stores/offline_utils.py @feast-dev/maintainers @chhabrakadabra @mavysavydav @sfc-gh-madkins

# BigQuery
/sdk/python/feast/infra/offline_stores/offline_store.py @feast-dev/maintainers @chhabrakadabra @mavysavydav

# Snowflake
/sdk/python/feast/infra/offline_stores/snowflake* @sfc-gh-madkins

# Athena (contrib)
/sdk/python/feast/infra/offline_stores/contrib/athena_offline_store/ @toping4445

# Azure SQL (contrib)
/sdk/python/feast/infra/offline_stores/contrib/mssql_offline_store/ @kevjumba

# Spark (contrib)
/sdk/python/feast/infra/offline_stores/contrib/spark_offline_store/ @niklasvm @kevjumba

# ==== Online Stores ====

# Redis
/sdk/python/feast/infra/online_stores/redis.py @DvirDukhan
/java/feast/serving/connectors/redis/ @DvirDukhan

# Snowflake
/sdk/python/feast/infra/online_stores/snowflake.py @sfc-gh-madkins

# Cassandra (contrib)
/sdk/python/feast/infra/online_stores/cassandra_online_store/ @hemidactylus

# ==== Batch Materialization Engines ====

# Snowflake
/sdk/python/feast/infra/materialization/snowflake* @sfc-gh-madkins

# Bytewax
/sdk/python/feast/infra/materialization/contrib/bytewax/ @whoahbot

# AWS Lambda
/sdk/python/feast/infra/materialization/contrib/aws_lambda/ @achals

# ==== Web UI ====
/ui/ @adchia
/sdk/python/feast/ui/ @adchia
/sdk/python/feast/ui_server.py @adchia

*^ registry/rest get_infra not_found return Infra()
  sdk/python/feast/infra/registry/rest.py
Owners: none

*^ registry/rest minor fixes
  sdk/python/feast/infra/registry/rest.py
Owners: none

+ online_stores/sql SQLAlchemy empowered general online store
  sdk/python/feast/infra/infra_object.py
  sdk/python/feast/infra/online_stores/sql.py
  sdk/python/feast/repo_config.py
Owners: none

postgres offline_write_batch
  sdk/python/feast/infra/offline_stores/contrib/postgres_offline_store/postgres.py
Owners: none

import pyarrow
  sdk/python/feast/infra/offline_stores/contrib/postgres_offline_store/postgres.py
Owners: none

handle case where no db reads are required
  pyproject.toml
  sdk/python/feast/feature_store.py
  setup.py
Owners: none

fix lint
  sdk/python/feast/infra/offline_stores/contrib/postgres_offline_store/postgres.py
Owners: none

update setup.py
  setup.py
Owners: none

SAASMLOPS-734 bytewax in-cluster config, custom labels, fix worker image deps
  sdk/python/feast/infra/materialization/contrib/bytewax/bytewax_materialization_engine.py
  setup.py
Owners: @whoahbot

SAASMLOPS-769 make max parallelism configurable
  sdk/python/feast/infra/materialization/contrib/bytewax/bytewax_materialization_engine.py
Owners: @whoahbot

update requirements
  sdk/python/requirements/py3.10-ci-requirements.txt
  sdk/python/requirements/py3.9-ci-requirements.txt
Owners: none

def offline_write_batch only for python>=3.9
  sdk/python/feast/infra/offline_stores/contrib/postgres_offline_store/postgres.py
Owners: none

Use faster syntax
  sdk/python/feast/infra/offline_stores/snowflake.py
Owners: @sfc-gh-madkins

Adds support for arrays in snowflake
  sdk/python/feast/infra/offline_stores/snowflake.py
  sdk/python/feast/infra/offline_stores/snowflake_source.py
  sdk/python/feast/infra/utils/snowflake/snowpark/snowflake_python_udfs_creation.sql
  sdk/python/feast/infra/utils/snowflake/snowpark/snowflake_udfs.py
  sdk/python/feast/type_map.py
Owners: @sfc-gh-madkins

feat: Add materialize and materialize-incremental rest endpoints (#3761)
  sdk/python/feast/feature_server.py
Owners: none

feat: Apply cache to load proto registry for performance (#3702)
  sdk/python/feast/infra/registry/proto_registry_utils.py
Owners: none

feat: Add support for `table_create_disposition` in bigquery job for offline store (#3762)
  sdk/python/feast/infra/offline_stores/bigquery.py
Owners: none

fix adbc ingest for pushing to feature_view.batch_source.name
  sdk/python/feast/infra/offline_stores/contrib/postgres_offline_store/postgres.py
  setup.py
Owners: none

Bugfix: rename IVFLAT to the expected string IVF_FLAT. Add test coverage on update for multiple indexes.
  sdk/python/feast/expediagroup/vectordb/milvus_online_store.py
  sdk/python/tests/expediagroup/test_milvus_online_store.py
Owners: none

Feat: Feast go support with HTTP Registry (#33)
  .github/workflows/linter.yml
  .github/workflows/pr_integration_tests.yml
  .github/workflows/pr_local_integration_tests.yml
  .github/workflows/unit_tests.yml
  MANIFEST.in
  Makefile
  go.mod
  go.sum
  go/embedded/online_features.go
  go/internal/feast/featurestore.go
  go/internal/feast/onlineserving/serving.go
  go/internal/feast/onlinestore/onlinestore.go
  go/internal/feast/onlinestore/redisonlinestore.go
  go/internal/feast/onlinestore/sqliteonlinestore.go
  go/internal/feast/registry/http.go
  go/internal/feast/registry/local.go
  go/internal/feast/registry/registry.go
  go/internal/feast/registry/repoconfig.go
  go/internal/feast/server/healthcheck/grpc-healthchecker.go
  go/internal/feast/server/http_server.go
  go/internal/test/go_integration_test_utils.go
  go/types/typeconversion_test.go
  protos/feast/third_party/grpc/health/v1/HealthService.proto
  sdk/python/feast/cli.py
  sdk/python/feast/feature_store.py
  sdk/python/feast/infra/offline_stores/contrib/spark_offline_store/spark.py
  sdk/python/feast/infra/registry/http.py
  sdk/python/feast/proto_json.py
  sdk/python/feast/repo_config.py
  sdk/python/feast/ui_server.py
  sdk/python/requirements/py3.10-ci-requirements.txt
  sdk/python/requirements/py3.10-requirements.txt
  sdk/python/requirements/py3.9-ci-requirements.txt
  sdk/python/requirements/py3.9-requirements.txt
  sdk/python/tests/conftest.py
  sdk/python/tests/integration/e2e/test_go_feature_server.py
  sdk/python/tests/integration/feature_repos/integration_test_repo_config.py
  sdk/python/tests/integration/feature_repos/repo_configuration.py
  sdk/python/tests/integration/online_store/test_universal_online.py
  setup.py
Owners: @niklasvm, @kevjumba, @adchia
