Repository feast-dev/feast, changes with the owners that CODEOWNERS names for each.
All owners: @feast-dev/maintainers, @chhabrakadabra, @mavysavydav, @sfc-gh-madkins, @DvirDukhan, @whoahbot, @toping4445, @kevjumba, @niklasvm, @hemidactylus, @achals, @adchia

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# Core Interfaces
/sdk/python/feast/infra/offline_stores/offline_store.py @feast-dev/maintainers @chhabrakadabra @mavysavydav @sfc-gh-madkins
/sdk/python/feast/infra/online_stores/online_store.py @feast-dev/maintainers @DvirDukhan
/sdk/python/feast/infra/materialization_engine/batch_materialization_engine.py @feast-dev/maintainers @whoahbot @sfc-gh-madkins

# ==== Offline Stores ====
# Core utils
/sdk/python/feast/infra/offline_stores/offline_utils.py @feast-dev/maintainers @chhabrakadabra @mavysavydav @sfc-gh-madkins

# BigQuery
/sdk/python/feast/infra/offline_stores/offline_store.py @feast-dev/maintainers @chhabrakadabra @mavysavydav

# Snowflake
/sdk/python/feast/infra/offline_stores/snowflake* @sfc-gh-madkins

# Athena (contrib)
/sdk/python/feast/infra/offline_stores/contrib/athena_offline_store/ @toping4445

# Azure SQL (contrib)
/sdk/python/feast/infra/offline_stores/contrib/mssql_offline_store/ @kevjumba

# Spark (contrib)
/sdk/python/feast/infra/offline_stores/contrib/spark_offline_store/ @niklasvm @kevjumba

# ==== Online Stores ====

# Redis
/sdk/python/feast/infra/online_stores/redis.py @DvirDukhan
/java/feast/serving/connectors/redis/ @DvirDukhan

# Snowflake
/sdk/python/feast/infra/online_stores/snowflake.py @sfc-gh-madkins

# Cassandra (contrib)
/sdk/python/feast/infra/online_stores/cassandra_online_store/ @hemidactylus

# ==== Batch Materialization Engines ====

# Snowflake
/sdk/python/feast/infra/materialization/snowflake* @sfc-gh-madkins

# Bytewax
/sdk/python/feast/infra/materialization/contrib/bytewax/ @whoahbot

# AWS Lambda
/sdk/python/feast/infra/materialization/contrib/aws_lambda/ @achals

# ==== Web UI ====
/ui/ @adchia
/sdk/python/feast/ui/ @adchia
/sdk/python/feast/ui_server.py @adchia

fix: Batch Snowflake materialization queries to obey Snowpark 100 fea… (#3406)
  sdk/python/feast/infra/materialization/snowflake_engine.py
Owners: @sfc-gh-madkins

feat: Relax aws extras requirements (#3585)
  sdk/python/requirements/py3.10-ci-requirements.txt
  sdk/python/requirements/py3.8-ci-requirements.txt
  sdk/python/requirements/py3.9-ci-requirements.txt
  setup.py
Owners: none

fix: Support param timeout when persisting (#3593)
  sdk/python/feast/infra/offline_stores/bigquery.py
  sdk/python/feast/infra/offline_stores/contrib/athena_offline_store/athena.py
  sdk/python/feast/infra/offline_stores/contrib/mssql_offline_store/mssql.py
  sdk/python/feast/infra/offline_stores/contrib/postgres_offline_store/postgres.py
  sdk/python/feast/infra/offline_stores/contrib/spark_offline_store/spark.py
  sdk/python/feast/infra/offline_stores/contrib/trino_offline_store/trino.py
  sdk/python/feast/infra/offline_stores/file.py
  sdk/python/feast/infra/offline_stores/offline_store.py
  sdk/python/feast/infra/offline_stores/redshift.py
  sdk/python/feast/infra/offline_stores/snowflake.py
  sdk/python/tests/unit/infra/offline_stores/test_offline_store.py
Owners: @toping4445, @kevjumba, @niklasvm, @feast-dev/maintainers, @chhabrakadabra, @mavysavydav, @sfc-gh-madkins

feat: Show bigquery datasource table and query on UI (#3600)
  ui/package.json
  ui/src/pages/data-sources/BatchSourcePropertiesView.tsx
  ui/yarn.lock
Owners: @adchia

feat: Cache Bigtable client (#3602)
  sdk/python/feast/infra/online_stores/bigtable.py
Owners: none

Pass optional types to satisfy mypy
  sdk/python/feast/infra/offline_stores/redshift.py
  sdk/python/feast/infra/offline_stores/redshift_source.py
  sdk/python/feast/infra/utils/aws_utils.py
Owners: none

Rebase master
  docs/reference/offline-stores/redshift.md
  sdk/python/feast/infra/offline_stores/redshift.py
  sdk/python/feast/infra/offline_stores/redshift_source.py
  sdk/python/feast/infra/utils/aws_utils.py
  sdk/python/feast/templates/aws/bootstrap.py
  sdk/python/tests/integration/feature_repos/universal/data_sources/redshift.py
  sdk/python/tests/unit/infra/scaffolding/test_repo_config.py
  setup.py
Owners: none

Remove redundant import
  sdk/python/feast/infra/offline_stores/redshift.py
Owners: none

Regenerate python requirements
  sdk/python/requirements/py3.10-requirements.txt
  sdk/python/requirements/py3.8-requirements.txt
  sdk/python/requirements/py3.9-requirements.txt
Owners: none

fix: Remove snowflake source warehouse tech debt (#3422)
  protos/feast/core/DataSource.proto
  sdk/python/feast/infra/offline_stores/snowflake.py
  sdk/python/feast/infra/offline_stores/snowflake_source.py
  sdk/python/tests/integration/feature_repos/universal/data_sources/snowflake.py
  sdk/python/tests/unit/test_data_sources.py
Owners: @sfc-gh-madkins

Fix casing error on DbUser Redshift kwarg
  sdk/python/feast/infra/offline_stores/redshift_source.py
Owners: none

feat: Update snowflake offline store job output formats -- added arrow
  docs/reference/offline-stores/overview.md
  docs/reference/offline-stores/snowflake.md
  sdk/python/feast/infra/offline_stores/snowflake.py
Owners: @sfc-gh-madkins

feat: Add AWS Redshift Serverless support (#3595)
  docs/reference/offline-stores/redshift.md
  sdk/python/feast/infra/offline_stores/redshift.py
  sdk/python/feast/infra/offline_stores/redshift_source.py
  sdk/python/feast/infra/utils/aws_utils.py
  sdk/python/feast/templates/aws/bootstrap.py
  sdk/python/requirements/py3.10-requirements.txt
  sdk/python/requirements/py3.8-requirements.txt
  sdk/python/requirements/py3.9-requirements.txt
  sdk/python/tests/integration/feature_repos/universal/data_sources/redshift.py
  sdk/python/tests/unit/infra/scaffolding/test_repo_config.py
  setup.py
Owners: none

feat: Update snowflake offline store job output formats -- added arrow (#3589)
  docs/reference/offline-stores/overview.md
  docs/reference/offline-stores/snowflake.md
  sdk/python/feast/infra/offline_stores/snowflake.py
Owners: @sfc-gh-madkins

Add skip web ui flag
  .github/workflows/release.yml
Owners: none

ci: Add dry run capability to web UI release (#3605)
  .github/workflows/release.yml
Owners: none

Move `publish_ui` flag to correct location
  .github/workflows/release.yml
Owners: none

ci: Move `publish_ui` flag to correct location (#3606)
  .github/workflows/release.yml
Owners: none

chore(release): release 0.31.0
  CHANGELOG.md
  infra/charts/feast-feature-server/Chart.yaml
  infra/charts/feast-feature-server/README.md
  infra/charts/feast-feature-server/values.yaml
  infra/charts/feast/Chart.yaml
  infra/charts/feast/README.md
  infra/charts/feast/charts/feature-server/Chart.yaml
  infra/charts/feast/charts/feature-server/README.md
  infra/charts/feast/charts/feature-server/values.yaml
  infra/charts/feast/charts/transformation-service/Chart.yaml
  infra/charts/feast/charts/transformation-service/README.md
  infra/charts/feast/charts/transformation-service/values.yaml
  infra/charts/feast/requirements.yaml
  java/pom.xml
  sdk/python/feast/ui/package.json
  sdk/python/feast/ui/yarn.lock
  ui/package.json
Owners: @adchia

Notes added by 'git notes add'
  902f23f5403c601238aa9f4fcbdd1359f004fb1c
Owners: none

fix: Clean up snowflake to_spark_df()
  docs/reference/offline-stores/overview.md
  docs/reference/offline-stores/snowflake.md
  sdk/python/feast/errors.py
  sdk/python/feast/infra/offline_stores/snowflake.py
Owners: @sfc-gh-madkins

chore: Upgrade snowflake version to 3.0.0
  sdk/python/requirements/py3.10-ci-requirements.txt
  sdk/python/requirements/py3.10-requirements.txt
  sdk/python/requirements/py3.8-ci-requirements.txt
  sdk/python/requirements/py3.8-requirements.txt
  sdk/python/requirements/py3.9-ci-requirements.txt
  sdk/python/requirements/py3.9-requirements.txt
  setup.py
Owners: none

fix: Clean up snowflake to_spark_df() (#3607)
  docs/reference/offline-stores/overview.md
  docs/reference/offline-stores/snowflake.md
  sdk/python/feast/errors.py
  sdk/python/feast/infra/offline_stores/snowflake.py
Owners: @sfc-gh-madkins

chore: Upgrade snowflake version to 3.0.0 (#3608)
  sdk/python/requirements/py3.10-ci-requirements.txt
  sdk/python/requirements/py3.10-requirements.txt
  sdk/python/requirements/py3.8-ci-requirements.txt
  sdk/python/requirements/py3.8-requirements.txt
  sdk/python/requirements/py3.9-ci-requirements.txt
  sdk/python/requirements/py3.9-requirements.txt
  setup.py
Owners: none

chore(release): release 0.31.1
  CHANGELOG.md
  infra/charts/feast-feature-server/Chart.yaml
  infra/charts/feast-feature-server/README.md
  infra/charts/feast-feature-server/values.yaml
  infra/charts/feast/Chart.yaml
  infra/charts/feast/README.md
  infra/charts/feast/charts/feature-server/Chart.yaml
  infra/charts/feast/charts/feature-server/README.md
  infra/charts/feast/charts/feature-server/values.yaml
  infra/charts/feast/charts/transformation-service/Chart.yaml
  infra/charts/feast/charts/transformation-service/README.md
  infra/charts/feast/charts/transformation-service/values.yaml
  infra/charts/feast/requirements.yaml
  java/pom.xml
  ui/package.json
Owners: @adchia

Notes added by 'git notes add'
  52cf2a0021e33203bc118e48d6f1c127b1661124
Owners: none

init
  sdk/python/feast/infra/materialization/contrib/spark/spark_materialization_engine.py
  sdk/python/feast/infra/online_stores/contrib/mysql_online_store/mysql.py
  sdk/python/feast/ui/package.json
  sdk/python/feast/ui/yarn.lock
  setup.py
Owners: @adchia

add setup
  setup.py
Owners: none

init
  sdk/python/feast/infra/materialization/contrib/spark/spark_materialization_engine.py
  sdk/python/feast/infra/online_stores/contrib/mysql_online_store/mysql.py
  setup.py
Owners: none

fix: Fix timestamp consistency in push api
  sdk/python/feast/infra/offline_stores/bigquery.py
  sdk/python/feast/infra/offline_stores/offline_utils.py
  sdk/python/feast/type_map.py
Owners: @feast-dev/maintainers, @chhabrakadabra, @mavysavydav, @sfc-gh-madkins

Updating contributing guide and also fixing some issues around M1 dev
  docs/project/development-guide.md
  java/CONTRIBUTING.md
  java/datatypes/pom.xml
  java/pom.xml
Owners: none

docs: Updating contributing guide and also fixing some issues around M1 dev (#3621)
  docs/project/development-guide.md
  java/CONTRIBUTING.md
  java/datatypes/pom.xml
  java/pom.xml
Owners: none

docs: Updating contributing guide and also fixing some issues around M1 dev (#3621)
  docs/project/development-guide.md
  java/CONTRIBUTING.md
  java/datatypes/pom.xml
  java/pom.xml
Owners: none

Adding logging to the feature server when the registry is refreshed
  sdk/python/feast/infra/registry/registry.py
  sdk/python/feast/infra/registry/snowflake.py
  sdk/python/feast/infra/registry/sql.py
Owners: none

docs: fix minor typo.
  docs/project/development-guide.md
Owners: none

cache _get_feature_views_to_use
  sdk/python/feast/feature_store.py
Owners: none

adding poetry github action
  .github/fork_workflows/fork_pr_integration_tests_aws.yml
  .github/fork_workflows/fork_pr_integration_tests_gcp.yml
  .github/fork_workflows/fork_pr_integration_tests_snowflake.yml
  .github/workflows/poetry_py37.yml
  poetry.lock
  pyproject.toml
  setup.py
Owners: none

add lru_cache maxsize=128
  sdk/python/feast/feature_store.py
Owners: none

updated version
  pyproject.toml
  setup.py
Owners: none

bumping version
  pyproject.toml
  setup.py
Owners: none
