Repository feast-dev/feast, changes with the owners that CODEOWNERS names for each.
All owners: @feast-dev/maintainers, @sfc-gh-madkins, @DvirDukhan, @whoahbot, @sudohainguyen, @toping4445, @kevjumba, @niklasvm, @hemidactylus, @achals

Modify the README to point to correct project list
  ui/README.md
Owners: none

Create test-python-universal-spark.yml
  .github/workflows/test-python-universal-spark.yml
Owners: none

Update test-python-universal-spark.yml
  .github/workflows/test-python-universal-spark.yml
Owners: none

Update test-python-universal-spark.yml
  .github/workflows/test-python-universal-spark.yml
Owners: none

disabling unit tests for Elasticsearch as they are failing on the build node
  .github/workflows/unit_tests.yml
Owners: none

fix: SQL Registry initialization (#80)
  sdk/python/feast/feature_store.py
Owners: none

add remote registry
  sdk/python/feast/feature_store.py
  sdk/python/feast/infra/registry/base_registry.py
  sdk/python/feast/infra/registry/registry.py
  sdk/python/feast/infra/registry/remote.py
  sdk/python/feast/repo_config.py
  sdk/python/tests/unit/infra/registry/test_remote.py
Owners: none

format and lint remote registry code
  sdk/python/feast/infra/registry/remote.py
  sdk/python/tests/unit/infra/registry/test_remote.py
Owners: none

feat: Update the pydantic version to v2.
  sdk/python/feast/infra/feature_servers/aws_lambda/config.py
  sdk/python/feast/infra/feature_servers/gcp_cloudrun/config.py
  sdk/python/feast/infra/feature_servers/local_process/config.py
  sdk/python/feast/infra/materialization/snowflake_engine.py
  sdk/python/feast/infra/offline_stores/bigquery.py
  sdk/python/feast/infra/offline_stores/contrib/athena_offline_store/athena.py
  sdk/python/feast/infra/offline_stores/contrib/mssql_offline_store/mssql.py
  sdk/python/feast/infra/offline_stores/contrib/postgres_offline_store/postgres.py
  sdk/python/feast/infra/offline_stores/contrib/trino_offline_store/trino.py
  sdk/python/feast/infra/offline_stores/file.py
  sdk/python/feast/infra/offline_stores/redshift.py
  sdk/python/feast/infra/offline_stores/snowflake.py
  sdk/python/feast/infra/online_stores/bigtable.py
  sdk/python/feast/infra/online_stores/contrib/cassandra_online_store/cassandra_online_store.py
  sdk/python/feast/infra/online_stores/contrib/hbase_online_store/hbase.py
  sdk/python/feast/infra/online_stores/contrib/mysql_online_store/mysql.py
  sdk/python/feast/infra/online_stores/contrib/postgres.py
  sdk/python/feast/infra/online_stores/datastore.py
  sdk/python/feast/infra/online_stores/dynamodb.py
  sdk/python/feast/infra/online_stores/redis.py
  sdk/python/feast/infra/online_stores/snowflake.py
  sdk/python/feast/infra/online_stores/sqlite.py
  sdk/python/feast/infra/passthrough_provider.py
  sdk/python/feast/infra/registry/snowflake.py
  sdk/python/feast/repo_config.py
  sdk/python/tests/data/data_creator.py
  sdk/python/tests/integration/feature_repos/repo_configuration.py
  sdk/python/tests/unit/infra/offline_stores/test_offline_store.py
  sdk/python/tests/unit/infra/offline_stores/test_redshift.py
  sdk/python/tests/unit/infra/scaffolding/test_repo_config.py
  sdk/python/tests/utils/cli_repo_creator.py
  setup.py
Owners: @sfc-gh-madkins, @sudohainguyen, @toping4445, @kevjumba, @DvirDukhan

feat: fix the python lint check errors.
  sdk/python/feast/data_source.py
  sdk/python/feast/feature_service.py
  sdk/python/feast/feature_view.py
  sdk/python/feast/importer.py
  sdk/python/feast/infra/contrib/spark_kafka_processor.py
  sdk/python/feast/infra/contrib/stream_processor.py
  sdk/python/feast/infra/feature_servers/base_config.py
  sdk/python/feast/infra/offline_stores/contrib/athena_offline_store/athena_source.py
  sdk/python/feast/infra/offline_stores/contrib/athena_offline_store/tests/data_source.py
  sdk/python/feast/infra/offline_stores/contrib/mssql_offline_store/mssql.py
  sdk/python/feast/infra/offline_stores/contrib/mssql_offline_store/tests/data_source.py
  sdk/python/feast/infra/offline_stores/contrib/postgres_offline_store/tests/data_source.py
  sdk/python/feast/infra/offline_stores/contrib/spark_offline_store/tests/data_source.py
  sdk/python/feast/infra/offline_stores/contrib/trino_offline_store/test_config/manual_tests.py
  sdk/python/feast/infra/offline_stores/contrib/trino_offline_store/tests/data_source.py
  sdk/python/feast/infra/offline_stores/file_source.py
  sdk/python/feast/infra/offline_stores/offline_store.py
  sdk/python/feast/infra/offline_stores/snowflake_source.py
  sdk/python/feast/infra/passthrough_provider.py
  sdk/python/feast/infra/provider.py
  sdk/python/feast/infra/registry/base_registry.py
  sdk/python/feast/infra/registry/registry_store.py
  sdk/python/feast/infra/registry/snowflake.py
  sdk/python/feast/infra/utils/aws_utils.py
  sdk/python/feast/infra/utils/hbase_utils.py
  sdk/python/feast/infra/utils/snowflake/snowflake_utils.py
  sdk/python/feast/repo_config.py
  sdk/python/tests/conftest.py
  sdk/python/tests/foo_provider.py
  sdk/python/tests/integration/feature_repos/repo_configuration.py
  sdk/python/tests/integration/feature_repos/universal/data_source_creator.py
  sdk/python/tests/integration/feature_repos/universal/data_sources/bigquery.py
  sdk/python/tests/integration/feature_repos/universal/data_sources/file.py
  sdk/python/tests/integration/feature_repos/universal/data_sources/redshift.py
  sdk/python/tests/integration/feature_repos/universal/data_sources/snowflake.py
  sdk/python/tests/integration/feature_repos/universal/feature_views.py
  sdk/python/tests/integration/feature_repos/universal/online_store_creator.py
  sdk/python/tests/unit/cli/test_cli_chdir.py
  sdk/python/tests/unit/infra/offline_stores/test_offline_store.py
  sdk/python/tests/utils/cli_repo_creator.py
Owners: @toping4445, @kevjumba, @niklasvm, @feast-dev/maintainers, @sfc-gh-madkins, @sudohainguyen

feat: update the requirements.
  sdk/python/requirements/py3.10-ci-requirements.txt
  sdk/python/requirements/py3.10-requirements.txt
  sdk/python/requirements/py3.8-ci-requirements.txt
  sdk/python/requirements/py3.8-requirements.txt
  sdk/python/requirements/py3.9-ci-requirements.txt
  sdk/python/requirements/py3.9-requirements.txt
  setup.py
Owners: none

feat: fix few type checking errors.
  sdk/python/feast/infra/offline_stores/contrib/spark_offline_store/tests/data_source.py
  sdk/python/feast/infra/offline_stores/offline_store.py
  sdk/python/tests/unit/infra/offline_stores/test_offline_store.py
  sdk/python/tests/utils/e2e_test_validation.py
Owners: @niklasvm, @kevjumba, @feast-dev/maintainers

fix: downgrade the version of moto to moto<5.
  sdk/python/requirements/py3.10-ci-requirements.txt
  sdk/python/requirements/py3.8-ci-requirements.txt
  sdk/python/requirements/py3.9-ci-requirements.txt
Owners: none

Edit workflow
  .github/workflows/test-python-universal-spark.yml
Owners: none

Create streaming-tests.yml
  .github/workflows/streaming-tests.yml
Owners: none

Update streaming tests GA
  .github/workflows/streaming-tests.yml
Owners: none

fix: Trino as an OfflineStore Access Denied when BasicAuthenticaion (#3898)
  sdk/python/feast/infra/offline_stores/contrib/trino_offline_store/trino.py
Owners: none

bumping mypy>=1.4.1
  sdk/python/requirements/py3.10-ci-requirements.txt
  setup.py
Owners: none

ran `no_implicit_optional sdk/python`
  sdk/python/feast/feature_service.py
  sdk/python/feast/feature_view.py
  sdk/python/feast/importer.py
  sdk/python/feast/infra/offline_stores/contrib/athena_offline_store/athena_source.py
  sdk/python/feast/infra/offline_stores/contrib/athena_offline_store/tests/data_source.py
  sdk/python/feast/infra/offline_stores/contrib/mssql_offline_store/tests/data_source.py
  sdk/python/feast/infra/offline_stores/contrib/postgres_offline_store/tests/data_source.py
  sdk/python/feast/infra/offline_stores/contrib/spark_offline_store/tests/data_source.py
  sdk/python/feast/infra/passthrough_provider.py
  sdk/python/feast/infra/provider.py
  sdk/python/feast/infra/utils/aws_utils.py
  sdk/python/feast/infra/utils/hbase_utils.py
  sdk/python/feast/type_map.py
  sdk/python/tests/data/data_creator.py
  sdk/python/tests/foo_provider.py
  sdk/python/tests/integration/feature_repos/universal/data_source_creator.py
  sdk/python/tests/integration/feature_repos/universal/data_sources/bigquery.py
  sdk/python/tests/integration/feature_repos/universal/data_sources/file.py
  sdk/python/tests/integration/feature_repos/universal/data_sources/redshift.py
  sdk/python/tests/integration/feature_repos/universal/data_sources/snowflake.py
Owners: @toping4445, @kevjumba, @niklasvm, @sudohainguyen

fixed missing body errors for abstract methods by raising NotImplementedError
  sdk/python/feast/data_source.py
  sdk/python/feast/infra/contrib/stream_processor.py
  sdk/python/feast/infra/offline_stores/contrib/mssql_offline_store/tests/data_source.py
  sdk/python/feast/infra/offline_stores/file_source.py
  sdk/python/feast/infra/offline_stores/offline_store.py
  sdk/python/feast/infra/registry/base_registry.py
  sdk/python/tests/foo_provider.py
  sdk/python/tests/integration/feature_repos/universal/data_source_creator.py
  sdk/python/tests/integration/feature_repos/universal/online_store_creator.py
  sdk/python/tests/unit/infra/offline_stores/test_offline_store.py
Owners: @kevjumba, @feast-dev/maintainers

added more type hints
  sdk/python/feast/infra/contrib/spark_kafka_processor.py
  sdk/python/feast/infra/offline_stores/redshift.py
  sdk/python/feast/infra/offline_stores/snowflake_source.py
  sdk/python/feast/infra/registry/snowflake.py
  sdk/python/feast/infra/utils/snowflake/snowflake_utils.py
Owners: @sfc-gh-madkins

fix: Typo Correction in Feast UI Readme (#3939)
  ui/README.md
Owners: none

bump all python requirements.lock file
  sdk/python/requirements/py3.10-requirements.txt
  sdk/python/requirements/py3.8-ci-requirements.txt
  sdk/python/requirements/py3.8-requirements.txt
  sdk/python/requirements/py3.9-ci-requirements.txt
  sdk/python/requirements/py3.9-requirements.txt
Owners: none

ignoring tests sdk/python/tests/ type linting
  Makefile
Owners: none

lint fixes
  sdk/python/feast/infra/contrib/stream_processor.py
  sdk/python/feast/infra/online_stores/dynamodb.py
  sdk/python/feast/infra/registry/registry_store.py
  sdk/python/feast/type_map.py
Owners: none

isort fixes
  sdk/python/feast/importer.py
  sdk/python/feast/infra/offline_stores/contrib/mssql_offline_store/tests/data_source.py
  sdk/python/feast/infra/offline_stores/contrib/spark_offline_store/tests/data_source.py
  sdk/python/feast/infra/offline_stores/snowflake_source.py
  sdk/python/feast/infra/utils/hbase_utils.py
Owners: @kevjumba, @niklasvm, @sfc-gh-madkins

black and flake8 fixes
  sdk/python/feast/data_source.py
  sdk/python/feast/infra/contrib/spark_kafka_processor.py
  sdk/python/feast/infra/offline_stores/offline_store.py
  sdk/python/feast/infra/utils/snowflake/snowflake_utils.py
  sdk/python/feast/type_map.py
Owners: @feast-dev/maintainers

fix circular import
  sdk/python/feast/infra/utils/snowflake/snowflake_utils.py
Owners: none

lint fix
  sdk/python/feast/infra/contrib/stream_processor.py
Owners: none

use typing types to support python3.8
  sdk/python/feast/infra/offline_stores/snowflake_source.py
Owners: @sfc-gh-madkins

add caching registry, refactor sql registry
  sdk/python/feast/infra/registry/caching_registry.py
  sdk/python/feast/infra/registry/sql.py
Owners: none

tests fix: make foo_provider concrete again | MockRetrievalJob to be concrete
  sdk/python/tests/foo_provider.py
  sdk/python/tests/unit/infra/offline_stores/test_offline_store.py
Owners: none

Add ScyllaDB to docs
  docs/SUMMARY.md
  docs/reference/online-stores/README.md
  docs/reference/online-stores/scylladb.md
Owners: none

docs: Add ScyllaDB as online store alternative (fixed DCO) (#3944)
  docs/SUMMARY.md
  docs/reference/online-stores/README.md
  docs/reference/online-stores/scylladb.md
Owners: none

fix: Add conn.commit() to Postgresonline_write_batch.online_write_batch (#3904)
  sdk/python/feast/infra/online_stores/contrib/postgres.py
Owners: none

fix: Transformation server doesn't generate files from proto (#3902)
  sdk/python/feast/infra/transformation_servers/Dockerfile
Owners: none

feat: Update the pydantic version to v2.
  sdk/python/feast/infra/feature_servers/aws_lambda/config.py
  sdk/python/feast/infra/feature_servers/gcp_cloudrun/config.py
  sdk/python/feast/infra/feature_servers/local_process/config.py
  sdk/python/feast/infra/materialization/snowflake_engine.py
  sdk/python/feast/infra/offline_stores/bigquery.py
  sdk/python/feast/infra/offline_stores/contrib/athena_offline_store/athena.py
  sdk/python/feast/infra/offline_stores/contrib/mssql_offline_store/mssql.py
  sdk/python/feast/infra/offline_stores/contrib/postgres_offline_store/postgres.py
  sdk/python/feast/infra/offline_stores/contrib/trino_offline_store/trino.py
  sdk/python/feast/infra/offline_stores/file.py
  sdk/python/feast/infra/offline_stores/redshift.py
  sdk/python/feast/infra/offline_stores/snowflake.py
  sdk/python/feast/infra/online_stores/bigtable.py
  sdk/python/feast/infra/online_stores/contrib/cassandra_online_store/cassandra_online_store.py
  sdk/python/feast/infra/online_stores/contrib/hbase_online_store/hbase.py
  sdk/python/feast/infra/online_stores/contrib/mysql_online_store/mysql.py
  sdk/python/feast/infra/online_stores/contrib/postgres.py
  sdk/python/feast/infra/online_stores/datastore.py
  sdk/python/feast/infra/online_stores/dynamodb.py
  sdk/python/feast/infra/online_stores/redis.py
  sdk/python/feast/infra/online_stores/snowflake.py
  sdk/python/feast/infra/online_stores/sqlite.py
  sdk/python/feast/infra/passthrough_provider.py
  sdk/python/feast/infra/registry/snowflake.py
  sdk/python/feast/repo_config.py
  sdk/python/tests/integration/feature_repos/repo_configuration.py
  sdk/python/tests/unit/infra/offline_stores/test_offline_store.py
  sdk/python/tests/unit/infra/offline_stores/test_redshift.py
  sdk/python/tests/unit/infra/scaffolding/test_repo_config.py
  sdk/python/tests/utils/cli_repo_creator.py
  setup.py
Owners: @sfc-gh-madkins, @sudohainguyen, @toping4445, @kevjumba, @DvirDukhan

feat: fix the python lint check errors.
  sdk/python/feast/importer.py
  sdk/python/feast/infra/contrib/spark_kafka_processor.py
  sdk/python/feast/infra/contrib/stream_processor.py
  sdk/python/feast/infra/feature_servers/base_config.py
  sdk/python/feast/infra/offline_stores/contrib/athena_offline_store/tests/data_source.py
  sdk/python/feast/infra/offline_stores/contrib/mssql_offline_store/mssql.py
  sdk/python/feast/infra/offline_stores/contrib/mssql_offline_store/tests/data_source.py
  sdk/python/feast/infra/offline_stores/contrib/postgres_offline_store/tests/data_source.py
  sdk/python/feast/infra/offline_stores/contrib/spark_offline_store/tests/data_source.py
  sdk/python/feast/infra/offline_stores/contrib/trino_offline_store/test_config/manual_tests.py
  sdk/python/feast/infra/offline_stores/contrib/trino_offline_store/tests/data_source.py
  sdk/python/feast/infra/offline_stores/snowflake_source.py
  sdk/python/feast/infra/registry/base_registry.py
  sdk/python/feast/infra/registry/snowflake.py
  sdk/python/feast/infra/utils/hbase_utils.py
  sdk/python/feast/infra/utils/snowflake/snowflake_utils.py
  sdk/python/feast/repo_config.py
  sdk/python/tests/conftest.py
  sdk/python/tests/integration/feature_repos/repo_configuration.py
  sdk/python/tests/integration/feature_repos/universal/data_source_creator.py
  sdk/python/tests/integration/feature_repos/universal/data_sources/bigquery.py
  sdk/python/tests/integration/feature_repos/universal/data_sources/file.py
  sdk/python/tests/integration/feature_repos/universal/data_sources/redshift.py
  sdk/python/tests/integration/feature_repos/universal/data_sources/snowflake.py
  sdk/python/tests/integration/feature_repos/universal/feature_views.py
  sdk/python/tests/integration/feature_repos/universal/online_store_creator.py
  sdk/python/tests/unit/cli/test_cli_chdir.py
  sdk/python/tests/unit/infra/offline_stores/test_offline_store.py
  sdk/python/tests/utils/cli_repo_creator.py
Owners: @toping4445, @kevjumba, @niklasvm, @sfc-gh-madkins, @sudohainguyen

feat: fix few type checking errors.
  sdk/python/feast/infra/offline_stores/contrib/spark_offline_store/tests/data_source.py
  sdk/python/feast/infra/offline_stores/offline_store.py
  sdk/python/tests/unit/infra/offline_stores/test_offline_store.py
  sdk/python/tests/utils/e2e_test_validation.py
Owners: @niklasvm, @kevjumba, @feast-dev/maintainers

feat: update the requirements.
  sdk/python/requirements/py3.10-ci-requirements.txt
  sdk/python/requirements/py3.10-requirements.txt
  sdk/python/requirements/py3.8-ci-requirements.txt
  sdk/python/requirements/py3.8-requirements.txt
  sdk/python/requirements/py3.9-ci-requirements.txt
  sdk/python/requirements/py3.9-requirements.txt
Owners: none

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# Core Interfaces
/sdk/python/feast/infra/offline_stores/offline_store.py @feast-dev/maintainers @sfc-gh-madkins
/sdk/python/feast/infra/online_stores/online_store.py @feast-dev/maintainers @DvirDukhan
/sdk/python/feast/infra/materialization_engine/batch_materialization_engine.py @feast-dev/maintainers @whoahbot @sfc-gh-madkins

# ==== Offline Stores ====
# Core utils
/sdk/python/feast/infra/offline_stores/offline_utils.py @feast-dev/maintainers @sfc-gh-madkins

# Offline interfaces
/sdk/python/feast/infra/offline_stores/offline_store.py @feast-dev/maintainers

# BigQuery
/sdk/python/feast/infra/offline_stores/bigquery.py @sudohainguyen
/sdk/python/feast/infra/offline_stores/bigquery_source.py @sudohainguyen
/sdk/python/tests/integration/feature_repos/universal/data_sources/bigquery.py @sudohainguyen

# Snowflake
/sdk/python/feast/infra/offline_stores/snowflake* @sfc-gh-madkins

# Athena (contrib)
/sdk/python/feast/infra/offline_stores/contrib/athena_offline_store/ @toping4445

# Azure SQL (contrib)
/sdk/python/feast/infra/offline_stores/contrib/mssql_offline_store/ @kevjumba

# Spark (contrib)
/sdk/python/feast/infra/offline_stores/contrib/spark_offline_store/ @niklasvm @kevjumba

# ==== Online Stores ====

# HBase
/sdk/python/feast/infra/online_stores/hbase.py @sudohainguyen
/sdk/python/feast/infra/online_stores/contrib/hbase_online_store     @sudohainguyen

# Redis
/sdk/python/feast/infra/online_stores/redis.py @DvirDukhan
/java/feast/serving/connectors/redis/ @DvirDukhan

# Snowflake
/sdk/python/feast/infra/online_stores/snowflake.py @sfc-gh-madkins

# Cassandra (contrib)
/sdk/python/feast/infra/online_stores/cassandra_online_store/ @hemidactylus

# ==== Batch Materialization Engines ====

# Snowflake
/sdk/python/feast/infra/materialization/snowflake* @sfc-gh-madkins

# Bytewax
/sdk/python/feast/infra/materialization/contrib/bytewax/ @whoahbot

# AWS Lambda
/sdk/python/feast/infra/materialization/contrib/aws_lambda/ @achals
