Repository feast-dev/feast, changes with the owners that CODEOWNERS names for each.
All owners: @feast-dev/maintainers, @chhabrakadabra, @mavysavydav, @sfc-gh-madkins, @DvirDukhan, @whoahbot, @toping4445, @kevjumba, @niklasvm, @hemidactylus, @achals, @adchia

fix: added pool_recycle option to create_engine (#12)
  sdk/python/feast/infra/registry/sql.py
Owners: none

Create SECURITY.md
  SECURITY.md
Owners: none

Set lifetime for feast_tmp tables
  sdk/python/feast/infra/offline_stores/bigquery.py
Owners: none

reverting requirements except for packages needed for Milvus
  sdk/python/requirements/py3.8-ci-requirements.txt
Owners: none

fix: Add aws-sts dependency in java sdk so that S3 client acquires IRSA role (#3696)
  java/serving/pom.xml
Owners: none

reset
  out.txt
  pyproject.toml
  ross_env.txt
  sdk/python/feast/infra/registry/base_registry.py
  sdk/python/feast/infra/registry/registry.py
  sdk/python/feast/infra/registry/sql.py
  sdk/python/feast/on_demand_feature_view.py
  setup.py
  test.txt
Owners: none

reset
  out.txt
  ross_env.txt
  test.txt
Owners: none

reduce commit size
  pyproject.toml
  sdk/python/feast/infra/registry/sql.py
  setup.py
Owners: none

handle empty udf case
  pyproject.toml
  sdk/python/feast/on_demand_feature_view.py
  setup.py
Owners: none

fix sp
  pyproject.toml
  sdk/python/feast/on_demand_feature_view.py
  setup.py
Owners: none

undo serialization exception
  pyproject.toml
  sdk/python/feast/on_demand_feature_view.py
  setup.py
Owners: none

create
  pyproject.toml
  sdk/python/feast/infra/registry/base_registry.py
  sdk/python/feast/infra/registry/registry.py
  sdk/python/feast/infra/registry/sql.py
  sdk/python/feast/repo_operations.py
  setup.py
Owners: none

dont modify function contracts
  sdk/python/feast/infra/registry/base_registry.py
  sdk/python/feast/infra/registry/registry.py
  sdk/python/feast/infra/registry/sql.py
  sdk/python/feast/repo_operations.py
Owners: none

fix infinite loop
  pyproject.toml
  sdk/python/feast/infra/registry/sql.py
  setup.py
Owners: none

fix: disabled data deletion when feature view is deleted (#13)
  sdk/python/feast/__init__.py
  sdk/python/feast/feature_view.py
  sdk/python/feast/infra/aws.py
  sdk/python/feast/infra/offline_stores/contrib/spark_offline_store/spark.py
  sdk/python/feast/infra/offline_stores/contrib/spark_offline_store/spark_source.py
  sdk/python/tests/unit/test_sql_registry.py
Owners: @niklasvm, @kevjumba

fix: issue-3682, run store.plan() only when need it.
  sdk/python/feast/repo_operations.py
Owners: none

disable infer_features for odfv
  pyproject.toml
  sdk/python/feast/on_demand_feature_view.py
Owners: none

disable infer_features for odfv
  setup.py
Owners: none

adding an affirm readme bc i hate having to go to confluence
  AFFIRM.md
Owners: none

Remove unwanted excessive splitting of gcs path
  sdk/python/feast/infra/offline_stores/bigquery.py
Owners: none

Adding initial update changes
  sdk/python/docs/source/feast.protos.feast.core.rst
  sdk/python/feast/expediagroup/vectordb/milvus_online_store.py
  sdk/python/feast/repo_config.py
  sdk/python/tests/expediagroup/test.py
  sdk/python/tests/expediagroup/test_milvus_online_store.py
Owners: none

Added formatting changes
  sdk/python/feast/expediagroup/vectordb/milvus_online_store.py
  sdk/python/tests/expediagroup/test.py
  sdk/python/tests/expediagroup/test_milvus_online_store.py
Owners: none

fix: Fix list_saved_datasets function
  sdk/python/feast/infra/registry/proto_registry_utils.py
Owners: none

Update README.md
  README.md
Owners: none

fix: Add NUMERIC to bq_to_feast type map
  sdk/python/feast/type_map.py
Owners: none

Don't resolve symlinks while walking a feature repo
  sdk/python/feast/repo_operations.py
Owners: none

Msudhir/add vector update functionality (#14)
  sdk/python/docs/source/feast.protos.feast.core.rst
  sdk/python/feast/expediagroup/vectordb/milvus_online_store.py
  sdk/python/feast/expediagroup/vectordb/vector_feature_view.py
  sdk/python/feast/repo_config.py
  sdk/python/tests/expediagroup/test_milvus_online_store.py
Owners: none

Switch from `macos-10.15` to `macos-latest`
  .github/workflows/build_wheels.yml
Owners: none

Switch from `macos-10.15` to `macos-latest` (#3722)
  .github/workflows/build_wheels.yml
Owners: none

ci: Upgrade from `actions/checkout@v2` to `actions/checkout@v3`
  .github/fork_workflows/fork_pr_integration_tests_aws.yml
  .github/fork_workflows/fork_pr_integration_tests_gcp.yml
  .github/fork_workflows/fork_pr_integration_tests_snowflake.yml
  .github/workflows/build_wheels.yml
  .github/workflows/java_master_only.yml
  .github/workflows/java_pr.yml
  .github/workflows/linter.yml
  .github/workflows/master_only.yml
  .github/workflows/nightly-ci.yml
  .github/workflows/pr_integration_tests.yml
  .github/workflows/pr_local_integration_tests.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .github/workflows/unit_tests.yml
Owners: none

ci: Upgrade `actions/setup-python@v2` to `actions/setup-python@v3`
  .github/fork_workflows/fork_pr_integration_tests_aws.yml
  .github/fork_workflows/fork_pr_integration_tests_gcp.yml
  .github/fork_workflows/fork_pr_integration_tests_snowflake.yml
  .github/workflows/build_wheels.yml
  .github/workflows/java_master_only.yml
  .github/workflows/java_pr.yml
  .github/workflows/linter.yml
  .github/workflows/master_only.yml
  .github/workflows/nightly-ci.yml
  .github/workflows/pr_integration_tests.yml
  .github/workflows/pr_local_integration_tests.yml
  .github/workflows/publish.yml
  .github/workflows/unit_tests.yml
Owners: none

Upgrade `actions/upload-artifact@v2` to `actions/upload-artifact@v3`
  .github/workflows/build_wheels.yml
  .github/workflows/java_master_only.yml
  .github/workflows/java_pr.yml
Owners: none

ci: Upgrade `checkout` Github Action (#3723)
  .github/fork_workflows/fork_pr_integration_tests_aws.yml
  .github/fork_workflows/fork_pr_integration_tests_gcp.yml
  .github/fork_workflows/fork_pr_integration_tests_snowflake.yml
  .github/workflows/build_wheels.yml
  .github/workflows/java_master_only.yml
  .github/workflows/java_pr.yml
  .github/workflows/linter.yml
  .github/workflows/master_only.yml
  .github/workflows/nightly-ci.yml
  .github/workflows/pr_integration_tests.yml
  .github/workflows/pr_local_integration_tests.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .github/workflows/unit_tests.yml
Owners: none

ci: Upgrade `setup-python` Github Action (#3724)
  .github/fork_workflows/fork_pr_integration_tests_aws.yml
  .github/fork_workflows/fork_pr_integration_tests_gcp.yml
  .github/fork_workflows/fork_pr_integration_tests_snowflake.yml
  .github/workflows/build_wheels.yml
  .github/workflows/java_master_only.yml
  .github/workflows/java_pr.yml
  .github/workflows/linter.yml
  .github/workflows/master_only.yml
  .github/workflows/nightly-ci.yml
  .github/workflows/pr_integration_tests.yml
  .github/workflows/pr_local_integration_tests.yml
  .github/workflows/publish.yml
  .github/workflows/unit_tests.yml
Owners: none

Upgrade `actions/setup-node@v2` to `actions/setup-node@v3`
  .github/workflows/build_wheels.yml
  .github/workflows/release.yml
  .github/workflows/unit_tests.yml
Owners: none

ci: Upgrade `setup-node` Github Action (#3725)
  .github/workflows/build_wheels.yml
  .github/workflows/release.yml
  .github/workflows/unit_tests.yml
Owners: none

ci: Upgrade `upload-artifact` Github Action (#3726)
  .github/workflows/build_wheels.yml
  .github/workflows/java_master_only.yml
  .github/workflows/java_pr.yml
Owners: none

chore(release): release 0.32.1
  CHANGELOG.md
  infra/charts/feast-feature-server/Chart.yaml
  infra/charts/feast-feature-server/README.md
  infra/charts/feast-feature-server/values.yaml
  infra/charts/feast/Chart.yaml
  infra/charts/feast/README.md
  infra/charts/feast/charts/feature-server/Chart.yaml
  infra/charts/feast/charts/feature-server/README.md
  infra/charts/feast/charts/feature-server/values.yaml
  infra/charts/feast/charts/transformation-service/Chart.yaml
  infra/charts/feast/charts/transformation-service/README.md
  infra/charts/feast/charts/transformation-service/values.yaml
  infra/charts/feast/requirements.yaml
  java/pom.xml
  sdk/python/feast/ui/package.json
  sdk/python/feast/ui/yarn.lock
  ui/package.json
Owners: @adchia

Notes added by 'git notes add'
  318b58663bca7d74b115308bc62a800fb2335c75
Owners: none

feat: Add possibility to save dataset as table, when spark config has remote warehouse info (#3645)
  sdk/python/feast/infra/offline_stores/contrib/spark_offline_store/spark.py
Owners: @niklasvm, @kevjumba

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# Core Interfaces
/sdk/python/feast/infra/offline_stores/offline_store.py @feast-dev/maintainers @chhabrakadabra @mavysavydav @sfc-gh-madkins
/sdk/python/feast/infra/online_stores/online_store.py @feast-dev/maintainers @DvirDukhan
/sdk/python/feast/infra/materialization_engine/batch_materialization_engine.py @feast-dev/maintainers @whoahbot @sfc-gh-madkins

# ==== Offline Stores ====
# Core utils
/sdk/python/feast/infra/offline_stores/offline_utils.py @feast-dev/maintainers @chhabrakadabra @mavysavydav @sfc-gh-madkins

# BigQuery
/sdk/python/feast/infra/offline_stores/offline_store.py @feast-dev/maintainers @chhabrakadabra @mavysavydav

# Snowflake
/sdk/python/feast/infra/offline_stores/snowflake* @sfc-gh-madkins

# Athena (contrib)
/sdk/python/feast/infra/offline_stores/contrib/athena_offline_store/ @toping4445

# Azure SQL (contrib)
/sdk/python/feast/infra/offline_stores/contrib/mssql_offline_store/ @kevjumba

# Spark (contrib)
/sdk/python/feast/infra/offline_stores/contrib/spark_offline_store/ @niklasvm @kevjumba

# ==== Online Stores ====

# Redis
/sdk/python/feast/infra/online_stores/redis.py @DvirDukhan
/java/feast/serving/connectors/redis/ @DvirDukhan

# Snowflake
/sdk/python/feast/infra/online_stores/snowflake.py @sfc-gh-madkins

# Cassandra (contrib)
/sdk/python/feast/infra/online_stores/cassandra_online_store/ @hemidactylus

# ==== Batch Materialization Engines ====

# Snowflake
/sdk/python/feast/infra/materialization/snowflake* @sfc-gh-madkins

# Bytewax
/sdk/python/feast/infra/materialization/contrib/bytewax/ @whoahbot

# AWS Lambda
/sdk/python/feast/infra/materialization/contrib/aws_lambda/ @achals

# ==== Web UI ====
/ui/ @adchia
/sdk/python/feast/ui/ @adchia
/sdk/python/feast/ui_server.py @adchia
